<template>
  <div>
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="10">
          <CCard>
            <CCardHeader class="text-center botonesP text-white">
              <h3><b>ABONAR MONEDERO</b></h3>
              <span
                >¡Acá podrás abonar a tu monedero para realizar compras!</span
              >
            </CCardHeader>
            <CCol md="12 pt-4 pb-4 pr-4 pl-5">
              <CRow class="form-color-blue">
                <CCol md="4">
                  <CSelect
                    addLabelClasses="required"
                    label="Medio de Pago"
                    :value.sync="select"
                    :options="options_select"
                    @change="change_r($event, 1)"
                  >
                  </CSelect>
                </CCol>
                <CCol md="4" v-if="this.select">
                  <CInput
                    addLabelClasses="required"
                    label="Monto"
                    v-model="$v.amount.$model"
                    :is-valid="hasError($v.amount)"
                    :invalid-feedback="
                      !$v.amount.required
                        ? 'Campo requerido'
                        : !$v.amount.onlyNumber_espec
                          ? 'Solo puede introducir números'
                          : !$v.amount.numberAndDecimals 
                            ? 'Solo puede introducir coma (,) seguido de máximo 2 dígitos. Ej: 0,00'
                            : !$v.amount.notZeros 
                              ? 'El monto ingresado debe ser mayor a cero (0)'
                              : ''
                    "
                  >
                  </CInput>
                </CCol>
                <CCol md="4" v-if="this.select">
                  <label class="mr-2 required" for="start_date">Fecha Abono:</label>
                  <VueDatePicker
                    :min-date="minDate"
                    :max-date="maxDate"
                    v-model="start_date"
                    :color="color"
                  />
                </CCol>
                <!-- SE MUESTRA SI EL EL MEDIO DE PAGO ES TRANSF O EN $ -->
                <CCol md="4" v-if="this.select === '02'">
                  <CSelect
                    addLabelClasses="required"
                    label="Tipo de Moneda"
                    :value.sync="select_M"
                    :options="options_select_M"
                    @change="change_r($event, 0)"
                  >
                  </CSelect>
                </CCol>
                <!-- SE LLENAN DEPENDE DEL COMBO -->
                  
                <CCol
                  md="4"
                  v-for="(v, index) in $v.items.$each.$iter"
                  :key="index"
                >
                  <CInput
                    v-if="v.$model.estatusLista === '0'"
                    :addInputClasses="v.value.$dirty ? 
                      (!v.value.onlyNumber_espec || 
                       !v.value.required || 
                       !v.value.maxLengthCustom ||
                       !v.value.minLengthCustom
                       ? 'is-invalid' : 'is-valid') 
                       : ''"
                    addLabelClasses="required"
                    :label="v.$model.name"
                    v-model="v.value.$model"
                    :maxlength="validationMessage(v.$model)"
                  >
                  </CInput>
                  <CSelect
                    v-if="v.$model.estatusLista === '1' && v.$model.name === 'Banco'"
                    :addInputClasses="v.value.$dirty ? (!v.value.required ? 'is-invalid' : 'is-valid') : ''"
                    addLabelClasses="required"
                    :label="v.$model.name"
                    :value.sync="v.value.$model"
                    :options="options_select_B"
                  >
                  </CSelect>
                  <span
                    class="customs-invalid"
                    v-if="v.value.$dirty && !v.value.required"
                    >Campo requerido</span
                  >
                  <span
                    class="customs-invalid"
                    v-else-if="v.value.$dirty && !v.value.onlyNumber_espec"
                    >Solo puede introducir números</span
                  >
                  <span
                    class="customs-invalid"
                    v-else-if="v.value.$dirty && !v.value.maxLengthCustom"
                    >Máximo {{validationMessage(v.$model)}} Carácteres</span
                  >
                  <span
                    class="customs-invalid"
                    v-else-if="v.value.$dirty && !v.value.minLengthCustom"
                    >Mínimo {{validationMessage(v.$model, false)}} Carácteres</span
                  >
                </CCol>
                <CCol
                  md="4"
                  class="
                    d-flex
                    align-items-center
                    text-center
                    mt-2
                    justify-content-center
                  "
                >
                  <CButton
                    :disabled="isDisabled"
                    @click="saldoAbonar"
                    color="success"
                  >
                    <CIcon name="cil-check-circle" />&nbsp; ACEPTAR
                  </CButton>
                </CCol>
              </CRow>
            </CCol>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
// import abono from "@/_validations/abonar/abonarval";
import General from "@/_mixins/general";
import { required, requiredIf, and } from "vuelidate/lib/validators";
import { onlyNumber_espec } from "@/_validations/ValidacionEspeciales";
// import { helpers } from '@vuelidate/validators'

//CAPTURA EL VALOR DEL SELECT
function change_r(event, num) {
  if (num === 1) {
    this.select = event.target.value;
    if (this.select) this.listFields(this.select);
    else this.limpiar();
    if(this.select === '03') this.select_M = '02'
  }
  if (num === 0) {
    this.select_M = event.target.value;
  }
  

}

//COMPUTED
function isDisabled() {
  return this.$v.$invalid;
}

//FUNCION QUE CONSULTA LOS CAMPOS A MOSTRAR DEPENDIENDO DEL COMBO change_r
function listFields(select) {
  this.items = [];
  let self = this;
  let listado = [];
  self.Loading = true;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(self.$apiAdressCobranza + "ListarParametro/" + select, {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      listado = [...response.data.datos];
      self.items = listado.map((listado) =>
        Object.assign({}, self.items, {
          code: listado.code,
          estatusLista: listado.estatusLista,
          name: listado.name,
          tipodato: listado.tipodato,
          value: listado.estatusLista === "1" ? null : "",
        })
      );
      self.Loading = false;
      setTimeout(() => {
        self.$v.$reset(); 
      });
    })
    .catch(function (err) {
      const msg = err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
    });
}

//FUNCION QUE LISTA LOS BANCOS
function listBanco() {
  let self = this;
  self.Loading = true;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(this.$apiAdressCobranza + "ListarBanco/000", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      if (
        response?.data?.message?.code === "000" ||
        response?.data?.mensaje?.code === "000"
      ) {
        if (response.data.datos?.length) {
          const options_select_ = response.data.datos.map((dto) => {
            return { label: `${dto.name}`, value: dto.code };
          });
          self.options_select_B = [
            { label: "SELECCIONE", value: null },
            ...options_select_,
          ];
        }
      }
      self.Loading = false;
    })
    .catch(function (err) {
      const msg = err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
    });
}

//LISTA LAS MONEDAS
function listMoneda() {
  let self = this;
  self.Loading = true;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(this.$apiAdressCobranza + "ListarMoneda/00", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      if (
        response?.data?.message?.code === "000" ||
        response?.data?.mensaje?.code === "000"
      ) {
        if (response.data.datos?.length) {
          const options_select_ = response.data.datos.map((dto) => {
            return { label: `${dto.name}`, value: dto.code };
          });
          self.options_select_M = [
            { label: "SELECCIONE", value: null },
            ...options_select_,
          ];
        }
      }
      self.Loading = false;
    })
    .catch(function (err) {
      const msg = err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
    });
}

//data
function data() {
  const date = new Date();
  return {
    select: "",
    select_B: "",
    select_M: "",
    Loading: false,
    amount: "",
    options_select: [{ label: "SELECCION", value: null }],
    options_select_B: [{ label: "SELECCION", value: null }],
    options_select_M: [{ label: "SELECCION", value: null }],
    items: [],
    minDate: `${date.getFullYear() - 1}-1`,
    maxDate: `${date}`,
    start_date: new Date(),
    color: "#1152D1",
  };
}

//LISTA LOS MEDIO DE PAGO
function ListMedioPago() {
  let self = this;
  self.Loading = true;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(self.$apiAdress + "ListarMedioPago" + "/" + "00", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      if (
        response?.data?.message?.code === "000" ||
        response?.data?.mensaje?.code === "000"
      ) {
        if (response.data.datos?.length) {
          const options_select_ = response.data.datos.map((dto) => {
            return { label: `${dto.name}`, value: dto.code };
          });
          self.options_select = [
            { label: "SELECCIONE", value: null },
            ...options_select_,
          ];
        }
      }
      self.Loading = false;
    })
    .catch(function (err) {
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

function limpiar() {
  this.select = "";
  this.amount = "";
  this.items = [];
  this.amount = "";
  this.select_B = "";
  this.select_M = "";
  this.$v.$reset();
}

//ABONAR
function saldoAbonar() {
  let userToken = sessionStorage.getItem("tokenUsuario");
  const codigoUsuario = sessionStorage.getItem("codigoUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  let self = this;
  self.Loading = true;
  const detalleCompra = self.items.map((item) => {
    return {
      codigoParametro: item.code,
      ValorParametro: item.value,
    };
  });
  const amount_splitted = self.amount.split(',').map(nums=>+nums);
  self.amount = amount_splitted.length > 1 ? `${amount_splitted[0]}${amount_splitted[1] ? `,${amount_splitted[1]}`:''}` : `${amount_splitted[0]}`;
  let fechaAbono = this.start_date.toString();
  fechaAbono = (new Date(fechaAbono).getTime() + 14400000) / 1000;

  axios
    .post(
      self.$apiAdressCobranza + "ComprarSaldo",
      {
        usuario: {
          tokenUsuario: userToken,
          codigoUsuario: window.btoa(codigoUsuario),
          codigoAplicacion: "MDE=",
        },
        datosCompra: {
          codigoMedio: self.select,
          codigoMoneda: self.select_M,
          montoCompra: self.amount,
          fechaAbono
        },
        detalleCompra,
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSistema,
        },
      }
    )
    .then(function () {
      self.Loading = false;
      const msg = "¡OPERACIÓN PROCESADA CON EXITO!";
      self.$swal.fire({
        position: "top-end",
        toast: true,
        icon: "success",
        title: msg,
        showConfirmButton: false,
        timer: self.getMsgSeconds(msg),
        timerProgressBar: true,
      });
      self.limpiar();
    })
    .catch(function (err) {
      self.limpiar();
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}



// const mustBeCool=(value, parent) => {
//   const max = parent.code === '003' ? 8 : 15; 
//   console.log('hla',max);
//   maxLength(max);
// };

function validationMessage(val, max = true) {
  return val.code === '003' ? (max ? 8 : 7) : val.code === '004' ? 11 : (max ? 20 : 1);
}

export default {
  name: "index",
  mixins: [General],
  data,
  validations: {
    select_M:{
      required
    },
    amount: {
      required,
      onlyNumber_espec,
      numberAndDecimals: (v) => /^\d{1,}(\,\d{1,2})?$/.test(v),
      notZeros: (v) => !/^0+(,0+)?$/.test(v),
    },
    start_date: {
      required
    },
    items: {
      required,
      $each: {
        value: {
          required,
          onlyNumber_espec: and(requiredIf((p) => p.estatusLista == '0'), onlyNumber_espec),
          maxLengthCustom: and(requiredIf((p) => p.estatusLista == '0'), (v,p) => {
            const len = v && v.length;
            const max = validationMessage(p);
            if(len && len > max) return false;
            else return true;
          }),
          minLengthCustom: and(requiredIf((p) => p.estatusLista == '0'), (v,p) => {
            const len = v && v.length;
            const min = validationMessage(p, false);
            if(len && len < min) return false;
            else return true;
          }),
        },
      },
    }
  },
  methods: {
    change_r,
    ListMedioPago,
    saldoAbonar,
    limpiar,
    listFields,
    listBanco,
    listMoneda,
    validationMessage,
  },
  mounted() {
    this.ListMedioPago();
    this.listBanco();
    this.listMoneda();
  },
  computed: {
    isDisabled,
  },
};
</script>

<style scoped>
.customs-invalid {
  color: #e55353;
  font-size: x-small;
  top: -1rem;
  font-weight: bold;
  position: relative;
}
</style>
