<template>
  <div class="col-md-10">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>VALIDAR TICKET</b></h3>
      </CCardHeader>
      <CCol sm="12" class="text-center pt-4 pb-4 pr-4 pl-5">
        <div class="form-color-blue">
          <CRow class="mt-2">
            <CCol sm="4">
              <CInput
                v-uppercase
                addLabelClasses="required"
                placeholder="Serial..."
                :invalid-feedback="
                  !$v.serial.required
                    ? 'Campo requerido'
                    : !$v.serial.minLength
                    ? 'Debe tener 12 caracteres'
                    : !$v.serial.maxLength
                    ? 'Debe tener 12 caracteres'
                    : ''
                "
                label="SERIAL DEL TICKET"
                v-model="$v.serial.$model"
                :is-valid="hasError($v.serial)"
                :maxlength="$v.serial.$params.maxLength.max"
                :minlength="$v.serial.$params.minLength.min"
              />
            </CCol>
            <CCol sm="4">
              <CInput
                v-uppercase
                addLabelClasses="required"
                placeholder="Código..."
                :invalid-feedback="
                  !$v.Operator_code.required
                    ? 'Campo requerido'
                    : !$v.Operator_code.minLength
                    ? 'Debe tener 8 caracteres'
                    : !$v.Operator_code.maxLength
                    ? 'Debe tener 8 caracteres'
                    : ''
                "
                label="CÓDIGO DEL OPERADOR"
                v-model="$v.Operator_code.$model"
                :is-valid="hasError($v.Operator_code)"
                :maxlength="$v.Operator_code.$params.maxLength.max"
                :minlength="$v.Operator_code.$params.minLength.min"
              />
            </CCol>
            <CCol
              sm="4"
              class="
                d-flex
                align-items-center
                text-center
                mt-2
                justify-content-center
              "
            >
              <CButton
                color="success"
                :disabled="isDisabled"
                @click="send_data"
              >
                <CIcon name="cil-check-circle" />&nbsp; ACEPTAR
              </CButton>
            </CCol>
          </CRow>
        </div>
      </CCol>
    </CCard>
  </div>
</template>

<script>
import UpperCase from "@/_validations/uppercase-directive";
import General from "@/_mixins/general";
import CursosVal from "@/_validations/validarcompra/validarcompra";
import axios from "axios";

function send_data() {
  let self = this;
  self.Operator_code = window.btoa(self.Operator_code);
  self.serial = window.btoa(self.serial);
  const codigoAplicacion = window.btoa("01");

  let tokenSesion = localStorage.getItem("tokenSistema");
  let tokenUsuario = sessionStorage.getItem("tokenUsuario");
  console.log("tokenUsuario", tokenUsuario);

  self.Loading = true;
  let listado = [];
  axios
    .get(
      this.$apiAdress +
        "ValidarTicketUsuario/" +
        codigoAplicacion +
        "/" +
        tokenUsuario +
        "/" +
        self.Operator_code +
        "/" +
        self.serial,
      {
        headers: {
          "Content-Type": "multipart/form-data",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      console.log("gianfranco", response);
      if (response.data.mensaje.code === "000") {
        console.log("cosas buenas", self.obj);
        listado = response.data.datos;
        self.sorteo = listado.sorteo;
        self.fechaSorteo = listado.fechaSorteo;
        self.seccion = listado.seccion;
        self.montoTicket = listado.montoTicket;
        self.direccionSitio = listado.direccionSitio;
        self.sitioPagoMillonario = listado.sitioPagoMillonario;
        self.mensajeInformativo = listado.mensajeInformativo;
        self.estatusMillonario = listado.estatusMillonario;
        self.estPagoPremio = listado.estPagoPremio;
        self.obj = {
          direccionSitio: self.direccionSitio,
          sorteo: self.sorteo,
          estatusMillonario: self.estatusMillonario,
          estPagoPremio: self.estPagoPremio,
          fechaSorteo: self.fechaSorteo,
          mensajeInformativo: self.mensajeInformativo,
          montoTicket: self.montoTicket,
          seccion: self.seccion,
          sitioPagoMillonario: self.sitioPagoMillonario,

          serial: self.serial,
          Operator_code: self.Operator_code,
        };
        self.$router.push({ name: "pagar", params: { obj: self.obj } });
        self.limpiarDatos();
      } else {
        console.log("cosas malas");
        self.noGanador();
        self.Loading = false;
        self.limpiarDatos();
      }
    })
    .catch(function (err) {
      const msg = err?.response?.data?.message?.description ||
        err?.responseJSON?.message?.description ||
        err?.responseJSON?.mensaje?.description ||
        err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
      self.limpiarDatos();
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

//LIMPIA LOS CAMPOS
function limpiarDatos() {
  this.serial = "";
  this.Operator_code = "";
}

function noGanador() {
  const msg = "¡No eres ganador!";
  this.$swal.fire({
    position: "top-end",
    toast: true,
    icon: "error",
    title: msg,
    showConfirmButton: false,
    timer: this.getMsgSeconds(msg),
    timerProgressBar: true,
  });
}

//COMPUTED
function isDisabled() {
  return this.$v.$invalid;
}

function data() {
  return {
    //MODELOS
    direccionSitio: "",
    estatusMillonario: "",
    estPagoPremio: "",
    fechaSorteo: "",
    mensajeInformativo: "",
    montoTicket: "",
    seccion: "",
    sitioPagoMillonario: "",
    sorteo: "",
    Operator_code: "",
    serial: "",
    obj: {},

    // VARIABLES
    Loading: false,
    items: [],
  };
}

export default {
  name: "index",
  mixins: [General],
  data,
  directives: UpperCase,
  validations: CursosVal,
  computed: {
    isDisabled,
  },
  directives: UpperCase,
  methods: {
    send_data,
    noGanador,
    // ganador,
    limpiarDatos,
  },
};
</script>
