<template>
  <CHeaderNav class="d-md-down-none mr-auto"> </CHeaderNav>
</template>

<script>
import axios from "axios";
export default {
  name: "Menu",
  data() {
    return {
      //minimize: false,
      nav: [],
      //show: true,
      buffor: [],
    };
  },
  methods: {
    dropdown(data) {
      let result = {
        _name: "CSidebarNavDropdown",
        name: data["name"],
        route: data["href"],
        icon: data["icon"],
        _children: [],
      };
      for (let i = 0; i < data["elements"].length; i++) {
        if (data["elements"][i]["slug"] == "dropdown") {
          result._children.push(this.dropdown(data["elements"][i]));
        } else {
          result._children.push({
            _name: "CSidebarNavItem",
            name: data["elements"][i]["name"],
            to: data["elements"][i]["href"],
            icon: data["elements"][i]["icon"],
          });
        }
      }
      return result;
    },
    rebuildData(data) {
      this.buffor = [];
      for (let k = 0; k < data.length; k++) {
        switch (data[k]["slug"]) {
          case "link":
            if (data[k]["href"].indexOf("http") !== -1) {
              this.buffor.push({
                _name: "CSidebarNavItem",
                name: data[k]["name"],
                href: data[k]["href"],
                icon: data[k]["icon"],
                target: "_blank",
              });
            } else {
              this.buffor.push({
                _name: "CSidebarNavItem",
                name: data[k]["name"],
                to: data[k]["href"],
                icon: data[k]["icon"],
              });
            }
            break;
          case "title":
            this.buffor.push({
              _name: "CSidebarNavTitle",
              _children: [data[k]["name"]],
            });
            break;
          case "dropdown":
            this.buffor.push(this.dropdown(data[k]));
            break;
        }
      }
      return this.buffor;
    },
  },
  mounted() {
    // if (
    //   !sessionStorage.getItem("usuarioValidado") ||
    //   sessionStorage.getItem("usuarioValidado") == "0"
    // ) {
    //   this.$router.push({ path: "/" });
    // }
  },
};
</script>
