<template>
  <CDropdown placement="bottom-end">
    <template #toggler>
      <CHeaderNavLink>
        <div class="row welcome-text-container">
          <div class="col-md-10 text-white pl-3">
            <span class="d-md-block">
              Bienvenido<b class="d-none d-md-inline">, {{ nombreUsuario }}</b>
            </span>
            <span v-if="tipoUsuario === '02'" class="d-md-block">
              <span class="d-inline d-md-none">, </span>Saldo Disponible: <b>{{ saldo }} $</b>
            </span>
            <span class="d-inline d-md-none ml-2"><CIcon name="cil-chevron-bottom-alt" /></span>
          </div>
          <div class="col-md-2 px-0 la-flecha d-none d-md-inline-block">
            <div class="mt-2 color-flecha">
              <CButton>
                <CIcon name="cil-chevron-bottom-alt" />
              </CButton>
            </div>
          </div>
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownItem href="#/settings">
      <CIcon name="cil-lock-locked" /> CAMBIAR CLAVE
    </CDropdownItem>
    <CDropdownItem href="#/profile">
      <CIcon name="cilUser" /> ACTUALIZAR PERFIL
    </CDropdownItem>
    <CDropdownItem @click="logout()">
      <CIcon name="cilAccountLogout" /> SALIR
    </CDropdownItem>
  </CDropdown>
</template>

<script>
import ControlSession from "@/_mixins/controlsession";
import General from "@/_mixins/general";
// import axios from "axios";
// import mitt from "mitt";
// const emitter = mitt();

async function consultarSaldo() {
  const resp_ = await this.globalConsultarSaldo(false);
  let self = this;
  if (typeof resp_ === "object" && resp_?.isSuccess) {
    self.saldo = resp_.saldo;
    self.saldoRetiro = resp_.montoRetiro;
  } else {
      console.log("errorcosas", resp_);
      // let mensaje = err.response.statusText;
      // if (mensaje === "No posee saldo disponible en el monedero.") {
      //   self.saldo = 0;
      // }
      const vald = typeof resp_ === "string" && resp_ === 'doNothing';
      if (!vald) {
        self.saldo = 0;
        self.saldoRetiro = 0;
        sessionStorage.setItem("saldoDisponible", self.saldo);
        sessionStorage.setItem("montoRetiro", self.saldoRetiro);
        const msg = resp_?.response?.data?.message?.description ||
              resp_?.responseJSON?.message?.description ||
              resp_?.responseJSON?.mensaje?.description ||
              resp_?.response?.statusText || '';
        if (msg)
          self.$swal.fire({
            position: "top-end",
            toast: true,
            icon: "warning",
            title: msg,
            showConfirmButton: false,
            timer: self.getMsgSeconds(msg),
            timerProgressBar: true,
          });
        else self.globalError(true);
        if (resp_.response?.data?.message?.code === "008") self.clearSession();
      }
  }
}

function escuhar() {
  emitter.on("Refrescar", (data) => {
    console.log("data emit", data);
    func(data);
  });
}
function data() {
  return {
    nombreUsuario: "",
    tipoUsuario: "",
    saldo: "",
    saldoRetiro: "",
    montoRetiro: "",
  };
}

function logout() {
  this.setLoading(true);
  this.sessionLogout();
}

export default {
  name: "TheHeaderDropdownAccnt",
  mixins: [ControlSession, General],
  data,
  methods: {
    logout,
    consultarSaldo,
    escuhar,
  },
  props: {
    setLoading: Function,
  },
  destroyed() {
    this.setLoading(false);
  },
  mounted: function () {
    let self = this;
    self.nombreUsuario = sessionStorage.getItem("nombreUsuario");
    self.tipoUsuario = sessionStorage.getItem("tipoUsuario");
    self.consultarSaldo();
    self.emitter.on("Refrescar", e => {
      self.saldo= e;
    });
    self.emitter.on("RefrescarNombres", e => {
      self.nombreUsuario = e;
    });
    self.emitter.on("problemClosingSession", e => {
      self.setLoading(e);
    });
  },
};
</script>
<style lang="scss" scoped>
.c-icon {
  margin-right: 0.3rem;
}
.color-flecha .btn{
  color:#fff;
}
.welcome-text-container {
  @media screen and (max-width: 767px) {
    margin-block: auto;
    margin-top: -3.25rem;  
  }
}
</style>
