<template>
  <CHeader fixed with-subheader light>
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CToggler
      in-header
      class="ml-3 d-lg-none"
      @click="$store.commit('toggleSidebarMobile')"
    />
    <CToggler
      in-header
      class="ml-3 d-md-down-none"
      @click="$store.commit('toggleSidebarDesktop')"
    />
    <CSidebarBrand
      style="text-decoration: none; color: black"
      class="d-lg-none"
      to="/dashboard"
    >
      <!-- <h3>Triple | Gordo</h3> -->
      <img src="@/assets/Logo-TG1.png" alt="logo" height="75" width="150" />
    </CSidebarBrand>

    <CMenu />

    <CHeaderNav class="mt-auto mt-md-0 ml-auto mr-2">
      <TheHeaderDropdownAccnt :setLoading="setLoading" />
    </CHeaderNav>

    <!-- <CSubheader class="px-3">
      <CBreadcrumbRouter class="border-0 mb-0" />
    </CSubheader> -->
  </CHeader>
</template>

<script>
import CMenu from "./Menu";
import TheHeaderDropdownAccnt from "./TheHeaderDropdownAccnt";
import ControlSession from "@/_mixins/controlsession";

function data() {
  return {
    Loading: false,
  };
}

function setLoading(bool) {
  this.Loading = bool;
}

async function sessionController (e, asBtn = true) {
  const self = this;
  if (
    sessionStorage.getItem("comienzoSesionDate") && 
    sessionStorage.getItem("tiempoSesion")/* sessionStorage.getItem("tiempoCaducidad") */
  ) {
    const date_ = new Date(sessionStorage.getItem("comienzoSesionDate"));
    const now_ = new Date();

    let timeDiff = now_ - date_; //in ms
    timeDiff /= 1000; // strip the ms

    // get seconds 
    const seconds = Math.round(timeDiff);
    const timeToOut = (+sessionStorage.getItem("tiempoSesion")/* sessionStorage.getItem("tiempoCaducidad") */ - +sessionStorage.getItem("tiempoAlerta")) * 1000;

    if (seconds > timeToOut) {
      if (asBtn) {
        e.preventDefault();
        $(this).prop({ disabled: true });
      }
      if (!asBtn) self.clearAndCallSessionTimeout(false);
      if (!self.alertShowed) await self.sessionTimeoutAlert(false);
      if (asBtn) {
        $(this).prop({ disabled: false });
        return null
      }
    } 
    else self.clearAndCallSessionTimeout();
  }
}

function clickBtn() {
  const self = this;
  $('button, a').on("mousedown touchstart", function (e) {
    self.sessionController(e);
  });
}

function alertMeth () {
  const self = this;
  if (self.initialized) self.sessionController(null, false);
  $('body').on("mousedown touchstart", function () {
    if (self.initialized) self.sessionController(null, false);
  });
  self.clickBtn();
}

export default {
  name: "TheHeader",
  mixins: [ControlSession],
  data,
  components: {
    TheHeaderDropdownAccnt,
    CMenu,
  },
  watch:{
    $route (to, from){
        if (to) {
          const self = this;
          $(document).ready(function(){
            self.alertMeth();
          });
        }
    }
  },
  methods: {
    alertMeth,
    clickBtn,
    setLoading,
    sessionController,
  },
  destroyed(){
    $('body').off();
    $('button').off();
  },
  mounted: function () {
    const self = this;
    $(document).ready(function(){
        self.alertMeth();
    });
  }
};
</script>

<style>
.c-header .c-header-toggler-icon,
.c-header .c-header-toggler-icon:hover {
  background-image: url('~@/assets/burgerIcon.png');
  background-size: contain;
}
@media screen and (min-width: 992px) {
 .c-header .c-header-toggler-icon {
    display: none;
  }   
}
</style>