<template>
  <CSidebar
    class="bg-dark toplist"
    fixed
    :minimize="minimize"
    :show="show"
    :size="csbsize"
    @update:show="(value) => $store.commit('set', ['sidebarShow', value])"
    style="background-color: transparent !important"
  >
    <div class="sidebar-brand-container">
      <CSidebarBrand class="d-md-down-none" to="/dashboard">
        <img src="@/assets/Logo-TG1.png" alt="logo" height="75" width="150" />
      </CSidebarBrand>
    </div>
    <!-- <CRenderFunction flat :content-to-render="nav"/>
    <CSidebarMinimizer
      class="d-md-down-none"
      @click.native="$store.commit('set', ['sidebarMinimize', !minimize])"

      recordar colocar si deseas para admin el  v-if="isAdmin"
    />-->
    <ul id="hovers" class="c-sidebar-nav">
      <li class="c-sidebar-nav-title nav-title">
          <!-- <CIcon size="lg" name="cil-caret-bottom" class="mr-2" />  -->MENÚ
      </li>

      <template v-for="(item, index) in menuArray">
        <template v-if="theMenu[item].children.length">
          <li :key="index" class="c-sidebar-nav-group nav-group">
            <a 
              class="c-sidebar-nav-link the-group-nav-link collapsed" 
              data-toggle="collapse" 
              :href="'#collapse'+theMenu[item].menuCode" 
              aria-expanded="false" 
              :aria-controls="'collapse'+theMenu[item].menuCode"
            >
              {{theMenu[item].menuDescription}} <CIcon name="cil-chevron-bottom-alt" class="ml-auto the-arrow"/>
            </a>
            <ul 
              :id="'collapse'+theMenu[item].menuCode" 
              class="c-sidebar-nav-group-items nav-group-items collapse" 
              :aria-labelledby="'collapse'+theMenu[item].menuCode" 
              data-parent="#hovers"
            >
              <template v-for="(child, ind) in theMenu[item].children">
                <router-link :key="ind" tag="li" :to="{ path: child.urlMenu }">
                  <a class="c-sidebar-nav-link">{{child.menuDescription}}</a>
                </router-link>
              </template>
            </ul>
          </li>
        </template>
        <template v-else>
          <router-link :key="index" tag="li" :to="{ path: theMenu[item].urlMenu }">
            <a class="c-sidebar-nav-link">{{theMenu[item].menuDescription}}</a>
          </router-link>
        </template>
      </template>
    </ul>
  </CSidebar>
</template>

<script>
export default {
  name: "TheSidebar",
  data() {
    return {
      //minimize: false,
      nav: [],
      //show: true,
      buffor: [],
      isAdmin: false,
      csbsize: "lg",
      theMenu: {},
    };
  },
  computed: {
    show() {
      return this.$store.state.sidebarShow;
    },
    minimize() {
      return this.$store.state.sidebarMinimize;
    },
    menuArray() {
      const menu_ = Object.keys(this.theMenu);
      return menu_;
    }
  },
  watch:{
    $route (to, from){
        if (to) {
          let self = this;
          $(document).ready(function(){
            self.updateMenuActive();
          });
        }
    }
  },
  methods: {
    goSettings: function () {
      this.$router.push({ path: "settings" });
    },
    resizeHandler: function () {
      const width = window.innerWidth;
      this.csbsize = width > 424 ? "xl" : width > 359 ? "lg" : "sm";
    },
    updateMenuActive: function () {
      const $theActive = $('.toplist ul li.active');
      console.log('activeee',$theActive);
      if ($theActive.length) {
        $theActive.closest('li.nav-group').find('a.the-group-nav-link').removeClass('collapsed');
        $theActive.closest('ul.nav-group-items').addClass('show');
      }
    },
  },
  created() {
    window.addEventListener("resize", this.resizeHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHandler);
  },
  mounted() {
    if (sessionStorage.getItem('listaMenu')) this.theMenu = JSON.parse(sessionStorage.getItem('listaMenu'));
    this.$root.$on("toggle-sidebar", () => {
      const sidebarOpened = this.show === true || this.show === "responsive";
      this.show = sidebarOpened ? false : "responsive";
    });
    this.$root.$on("toggle-sidebar-mobile", () => {
      const sidebarClosed = this.show === "responsive" || this.show === false;
      this.show = sidebarClosed ? true : "responsive";
    });
    let self = this;
    if (localStorage.getItem("roles") == "user,admin") {
      self.isAdmin = true;
    }
    $(document).ready(function(){
      self.updateMenuActive();
    });
  },
};
</script>
<style lang="scss" scoped>
@mixin liOpts() {
  font-weight: 600;
  font-size: larger;
  @content;
}

.toplist > ul{
  padding-bottom: 2rem;
}

.toplist ul li {
  &:first-child {
    @include liOpts;
    cursor: pointer;
    text-align: center;
    margin-top: 0;
    color: #fff;
  }

  &.nav-group {
    > a {
      .the-arrow {
        transition: all .25s;
        transform: rotate(180deg);
      }

      &.collapsed {
        .the-arrow {
          transform: rotate(0deg);
        }
      }
    }

    ul {
      list-style-type: none;
      padding-inline-start: 1rem;

      li {
        a {
          @include liOpts() {
            font-size: medium;
          };
        }
      }
    }
  }

  & a {
    padding-bottom: 0;
  }

  a {
    @include liOpts;

    &:hover:not(.active) {
      color: $color-pollito;
    }
  }
}

.active a {
  color: $color-pollito;
}
</style>
