// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

@mixin img-logo() {
  width: 16.5vw;
  min-width: 12rem;
  height: auto;

  @media screen and (min-width: 768px) {
    min-width: 15rem;
  }
}
@mixin logo-margin() {
  @media screen and (min-width: 768px) {
    margin-left: 2rem;

    @media screen and (min-width: 1024px) {
      margin-left: 4rem;

      @media screen and (min-width: 1440px) {
        margin-left: 4vw;
      }
    }
  }
}

// Asterisco de required
label.required:before {
  color: $color-error;
  content: "* ";
  display: inline;
}

.card {
  border-radius: 30px !important;
  background-color: transparent;
}

.error-mensaje {
  color: $color-error;
}

.text-mensaje-error{
  text-align: center;
  margin-bottom: 1rem;
}

//CLASE PARA LOS BOTONES
.btn-form {
  background-color: $color-primario;
  color: #fff;
  width: 25%;
  margin: auto;
}
//COLOR PARA LOS MODALES

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.card-header:first-child + div {
  background-color: #fff;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-top: 0px !important;
}

.card-header {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  padding: 1rem 1.25rem !important;
}

.click-file {
  cursor: pointer;
}

#cropp-img-img {
  max-width: 500px;
  max-height: 500px;
}

// ESTILOS DEL HEADER
.c-header {
  background-color: $color-primario;
}

.modal-header {
  background-color: $color-primario !important;
}
.bg-dark {
  background-color: #fff !important;
}

// SIDEBAR
.c-sidebar-nav {
  background-color: $color-primario;
  margin: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 35px;
}

.c-sidebar .sidebar-brand-container,
header.c-header:not(.card-header) {
  &.sidebar-brand-container {
    background-color: $color-primario;
    min-height: $height-header-sm;
    -webkit-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.35);

    @media screen and (min-width: 768px) {
      min-height: $height-header-md;

      @media screen and (min-width: 1440px) {
        min-height: $height-header-xl;
      }
    }
  }

  .c-sidebar-brand {
    background: transparent !important;
    height: 100%;
    justify-content: flex-start;
    @include logo-margin();

    img {
      @include img-logo();
      margin-top: -0.45rem;
    }
  }
}

.c-sidebar .c-sidebar-nav-link {
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .btn-form {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .c-sidebar-nav {
    max-height: none;
    padding: 2em 0 0 0;
    border-radius: 0px;
    margin: 0px;
  }
}

.botonesP {
  background-color: $color-primario !important;
  font-family: $fuente-principal;
  font-style: oblique;
  span {
    font-weight: 600;
    font-size: 1rem;
  }
}

#hovers {
  a:hover {
    background-color: $color-primario !important;
  }
}

// WIZZARD
.stepTitle {
  font-weight: bold;
  font-style: oblique;
  font-family: $fuente-principal;
}
.stepTitle.active {
  color: #000 !important;
  font-weight: bold;
  font-style: oblique;
  font-family: $fuente-principal;
}

.vue-form-wizard.md .wizard-icon-circle {
  width: 80px !important;
  height: 80px !important;
  font-size: 50px !important;
}

// SLIDER TICKETS
.card-header {
  border-bottom: 0px !important;
}
.font-number h4 {
  font-weight: bold;
}

// HEADER
.home.login-view .navbar-toggler {
  display: none !important;
}
header:not(.card-header) {
  border: none !important;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);

  &.c-header {
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  }

  z-index: 1;
  height: $height-header-sm;
  border-radius: 0 !important;

  @media screen and (min-width: 768px) {
    height: $height-header-md;

    @media screen and (min-width: 1024px) {
      position: sticky !important;
      top: 0;

      @media screen and (min-width: 1440px) {
        height: $height-header-xl;
      }
    }
  }

  .container-header {
    width: 100%;
    @include logo-margin();

    img {
      @include img-logo();

      @media screen and (max-width: 767px) {
        margin-inline: auto;
        margin-bottom: 0.75rem;
      }
    }
  }
}

// FORMS
@mixin form-mix($color, $applyErrStyles: false) {
  .redirect-elsewhere {
    color: $color;
    text-decoration: underline;

    @media screen and (min-width: 1440px) {
      font-size: 1vw;
      margin-right: 0.55vw;
    }

    &:focus-visible {
      outline: none;
      text-shadow: 0px 3px 6px rgb(0, 0, 0);
    }
  }
  .form-group {
    .input-group {
      .input-group-prepend {
        span {
          height: fit-content;
          align-self: center;
          background: transparent;
          border-radius: 50px !important;
          padding: 0.3rem;
          border-width: 2px;
          border-color: $color;

          @media screen and (min-width: 1024px) {
            padding: 0.4rem;

            @media screen and (min-width: 1440px) {
              padding: 0.4vw;
            }
          }

          svg {
            width: 1.5rem;
            height: 1.5rem;

            @media screen and (min-width: 1024px) {
              width: 2rem;
              height: 2rem;

              @media screen and (min-width: 1440px) {
                width: 1.5vw;
                height: 1.5vw;
              }
            }

            path {
              fill: $color;
            }
          }
        }
      }

      input,
      select {
        background: transparent;
        border: none;
        border-bottom: 1px solid $color;
        border-radius: 0;
        padding-inline: 0;
        margin-left: 0.85rem;
        padding-bottom: 1rem;
        padding-top: 0.25rem;
        color: $color;
        font-size: 1.25rem;
        font-style: italic;

        &::placeholder {
          color: $color;
          opacity: 1;
        }
        &::-ms-input-placeholder {
          color: $color;
        }

        &:focus {
          box-shadow: none;
        }

        @media screen and (min-width: 1440px) {
          font-size: 1.4vw;
          padding-top: 0;
        }

        option {
          color: $color-primario;
        }
      }
    }

    @if $applyErrStyles {
      .invalid-feedback {
        font-size: 85%;
        color: #ff6c6c;
        position: absolute;
        bottom: -1.25rem;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}

.color-white {
  @include form-mix(#fff, true);
}
.color-blue {
  @include form-mix($color-primario);
}

//ESTILO PARA MODALES

// .swal2-popup{
//   padding: 0px !important;
//   font-size: 1rem !important;
//   box-shadow: 0px 10px 10px 8px #505050;
// }
// .swal2-header{
//   background-color: $color-primario;
//   padding: 0 0 !important;
// }
// .swal2-success-circular-line-left{
//   background-color: $color-primario !important;
// }
// .swal2-success-circular-line-right{
//   background-color: $color-primario !important;
// }
// .swal2-icon.swal2-success .swal2-success-fix{
//   background-color: $color-primario !important;
// }
// .swal2-success-ring{
//   border: 0.25em solid #ebedef !important;
// }
// .swal2-icon.swal2-success{
//   color: #fff !important;
// }
// .swal2-actions{
//   display: none !important;
// }
// .swal2-content{
//   background-color: #044ebd;
//   color: #fff !important;
//   font-size: 4rem !important;
//   font-weight: bold !important;
//   padding: 3rem !important;
// }
// .swal2-icon.swal2-success [class^='swal2-success-line']{
//   background-color: #fff !important;
// }

.c-app {
  background-image: url("~@/assets/img-home/bubles.png"), url("~@/assets/img-home/bubles.png");
  background-color: #1142a3;
  background-repeat: no-repeat;
  background-position: bottom -9.5rem left -12.6rem, top calc(-10.5rem + #{$height-header-sm}) right -11.6rem;
  background-size: 25rem;

  @media screen and (min-width: 768px) {
    background-position: bottom -17rem left -22.6rem, top calc(-18.5rem + #{$height-header-md}) right -20.6rem;
    background-size: 45rem;

    @media screen and (min-width: 1024px) {
      background-position: bottom -21.5vw left -28vw, top calc(-23.5vw + #{$height-header-md}) right -26vw;
      background-size: 56.5vw;

      @media screen and (min-width: 1440px) {
        background-position: bottom -19vw left -24.5vw, top calc(-20.75vw + #{$height-header-xl}) right -23vw;
        background-size: 49.5vw;
      }
    }
  }
}

.card {
  border: none;
}

.set-color-primary {
  background-color: $color-primario !important;
  border-color: $color-primario !important;

  svg {
    color: $color-primario !important;
  }

  &.isWhite svg {
    color: #fff !important;
  }
}

.plane-btn-style {
  display: none !important;

  @media screen and (min-width: 768px) {
    display: contents !important;
  }

  svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  &.theLeft svg {
    transform: rotate(231deg) translateY(-2px);
    margin-right: 0.5rem;
  }
  &.theRight svg {
    transform: rotate(48deg) translateY(-2px);
    margin-left: 0.5rem;

    @media screen and (orientation: portrait) and (max-width: 350px) {
      transform: rotate(48deg) translateY(10px);
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 460px) {
  .vue-form-wizard .navbar .navbar-nav>li>a.wizard-btn, .vue-form-wizard .wizard-btn {
    min-width: 100px !important;
  }
}

.remove-prepend-style {
  .input-group {
    .input-group-prepend {
      .input-group-text {  
        padding: 0;
        padding-left: 0.75rem;
        background: #fff;
  
        .form-group {
          margin: 0;
  
          select {
            border: none;
            height: auto;
            border-radius: 0;
            padding-left: 0;

            &:focus {
              box-shadow: none;
            }

            &:focus-visible {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.two-inputs-wrapper {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .two-inputs-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .two-inputs-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0 !important;
  }
}

.flicking-arrow-prev.is-outside {
  @media screen and (max-width: 1100px) {
    left: -42px !important;

    @media screen and (max-width: 575px) {
      left: -12px !important;
    }
  }
}

.flicking-arrow-next.is-outside {
  @media screen and (max-width: 1100px) {
    right: -42px !important;

    @media screen and (max-width: 575px) {
      right: -12px !important;
    }
  }
}

.flicking-arrow-prev.is-outside,
.flicking-arrow-next.is-outside {
  @media screen and (max-width: 1100px) {
    top: 60%; 

    @media screen and (max-width: 575px) {
      transform: scale(0.5);
    }
  }
}

.form-color-blue {
  color: black !important;
  font-weight: 600 !important;
  text-align: left;
}

.close{
  opacity: 1;
  color: #fff;
}
.close:hover{
  opacity: 1;
  color: #fff;
}

.botones-tabla{
  justify-content: end;
  align-items: center;
}

.text-btn{
  display: block;
}

@media screen and (max-width:576px) {
  .margin-top-date{
    margin-top: 1rem;
  }
}

@media screen and (max-width:320px) {
  .text-btn{
    display:none;
  }
}

@media screen and (max-width: 1200px) {
  .botones-tabla{
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
}

.flicking-camera{
	display: flex !important;
}

.the-scratchable-container-wrapper {
  max-height: 40rem;
}