// Variable overrides
//FUENTES
$fuente-principal: 'Red Hat Display', sans-serif;
$fuente-secundaria: 'Baloo 2', cursive;
// COLORES
$color-primario: rgb(0, 24, 114); /*AZUL OSCURO*/
$color-secundario: rgb(17,82,209); /*azul claro*/
$color-terciario: rgb(255,161,25); /*AMARILLO*/
$color-error: rgb(209, 12, 12);
$color-pollito: rgb(255, 255, 0); /*AMARILLO POLLITO*/
$fondo-primario: rgb(20,61,25); /*VERDE*/
$fondo-secundario: rgb(69,64,156); /*MORADO*/
$color-blue-black: rgb(25, 26, 32);

$height-header-sm: 7.25rem;
$height-header-md: 8rem;
$height-header-xl: 7vw;