<template>
  <div>
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>REPORTES DE MOVIMIENTOS</b></h3>
        <span>¡Acá podrás ver los reportes de tus movimientos!</span>
      </CCardHeader>
      <CCol sm="12" class="pt-4 mb-4">
        <DateComponent :isRequiredTypeMov="false" :valoresDate="Search_Movements" :valoresclean="Cancelar" />
        <CCol sm="12" class="text-center">
          <CDataTable
            :items="itemsFiltered"
            :fields="fieldsMovimiento"
            :loading="isLoading"
            column-filter
            :items-per-page="8"
            :noItemsView="tableText.noItemsViewText"
            :items-per-page-select="tableText.itemsPerPageText"
            hover
            small
            sorter
            pagination
          >
            <template #fechaMovimiento-filter>
              <input 
                class="form-control form-control-sm hola"
                v-model="datafechaMovimiento"
              >
            </template>
            <template #fechaMovimiento="{ item: { fechaMovimientoShown } }">
              <td>
                {{ fechaMovimientoShown }}
              </td>
            </template>
          </CDataTable>
        </CCol>
      </CCol>
    </CCard>
  </div>
</template>

<script>
import General from "@/_mixins/general";
import axios from "axios";
import { DateFormater } from "@/_helpers/funciones";
import DateComponent from "@/components/date-filter.vue";

//HELPERS DEL DATATABLE
const tableTextHelpers = {
  tableFilterText: {
    label: "FILTRAR:",
    placeholder: "MOVIMIENTOS",
  },
  itemsPerPageText: {
    label: "Movimientos por página:",
  },
  noItemsViewText: {
    noResults: "NO SE ENCONTRARON RESULTADOS",
    noItems: "NO HAY MOVIMIENTOS DISPONIBLES",
  },
};

//CAMPOS DEL DATATABLE
const fieldsMovimiento = [
  { key: "fechaMovimiento", label: "Fecha" },
  { key: "montoMovimiento", label: "Monto" },
  { key: "tipoMovimiento", label: "Tipo de movimiento" },
  { key: "MedioPago", label: "Medio de pago" },
  { key: "saldoDisponible", label: "Saldo disponible" },
];

//Limpiar - Cancelar
function Cancelar() {
  this.items = [];
}

function dateFormatr(dateStr) {
  return DateFormater.DateFormaterEpoch(dateStr);
}

//FUNCION QUE TRAE LOS MOVIMIENTOS
function Search_Movements(val) {
  this.items = [];
  let listado = [];
  let tokUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  let start = val.start_date.toString();
  let end = val.end_date.toString();
  end = (new Date(end).getTime() + 14400000) / 1000;
  start = (new Date(start).getTime() + 14400000) / 1000;
  let self = this;
  self.isLoading = true;
  axios
    .get(
      self.$apiAdressUsuario +
        "ListarMovimientos" +
        "/" +
        tokUsuario +
        "/" +
        "MDE=" +
        "/" +
        start +
        "/" +
        end,
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSistema,
        },
      }
    )
    .then(function (response) {
      console.log(response);
      listado = [...response.data.datos];
      console.log("que tiene listado", listado);

      self.items = listado.map((listado) =>
        Object.assign({}, self.items, {
          MedioPago: listado.MedioPago,
          fechaMovimiento: listado.fechaMovimiento,
          montoMovimiento: DateFormater.numberWithCommas(
            listado.montoMovimiento
          ),
          saldoDisponible: DateFormater.numberWithCommas(
            listado.saldoDisponible
          ),
          tipoMovimiento: listado.tipoMovimiento,
        })
      );
      self.isLoading = false;
    })
    .catch(function (err) {
      console.error(err);
      self.isLoading = false;
      console.log(err);
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

//LA DATA
function data() {
  const date = new Date();
  return {
    items: [],
    tableText: Object.assign({}, tableTextHelpers),
    VerModal: false,
    start_date: new Date(),
    end_date: new Date(),
    isLoading: false,
    datafechaMovimiento: '',
  };
}

export default {
  name: "index",
  data,
  components: { DateComponent },
  mixins: [General],
  props: {
    fieldsMovimiento: {
      type: Array,
      default() {
        return fieldsMovimiento;
      },
    },
  },
  computed: {
    itemsComputed () {
      return this.items.map(item => {
        return {
          ...item,
          fechaMovimientoShown: this.dateFormatr(item.fechaMovimiento),
        }
      })
    },
    itemsFiltered () {
      return this.itemsComputed.filter(item => {
        return !this.datafechaMovimiento || item.fechaMovimientoShown.includes(this.datafechaMovimiento);
      })
    }
  },
  methods: {
    Search_Movements,
    Cancelar,
    dateFormatr,
  },
};
</script>