<template>
  <div class="home login-view">
    <header
      class="navbar navbar-expand-lg navbar-light modal-header px-3 pt-0"
    >
      <div class="container-header">
        <img
          class="d-flex justify-content-star"
          src="@/assets/Logo-TG1.png"
          alt="logo"
          height="100"
          width="300"
        />
      </div>
    </header>
    <div class="col-md-12 img-background text-center">
      <div>
        <CRow class="mx-0 ml-lg-auto crow-login">
          <CCol class="d-flex mx-0 px-0 col-12">
            <h1 class="w-100 title-login mt-4">
              <span class="first d-block">SITIO</span>
              <span class="second d-block">ADMINISTRATIVO</span>
              <span class="third d-block">Y DE <span class="inner">VENTAS</span></span>
            </h1>
          </CCol>
          <CCol class="col-12">
            <authView 
              :loading="Loading" 
              :type="type" 
              :cleanInputs="cleanInputs" 
              :changeType="changeTypeMeth"
              :accessLoginMeth="loginMeth" 
              :accessRecoveryMeth="RecoveryMeth"
              :accessCodigoMeth="codigoMeth" 
              :accessChangePasswordMeth="ChangePasswordMeth"
            />
          </CCol>
        </CRow>
      </div>
    </div>
  </div>
</template>

<script>
import { freeSet } from "@coreui/icons";
import General from "@/_mixins/general";
import ControlSession from "@/_mixins/controlsession";
import axios from "axios";
import authView from '../auth/auth-view.vue';

function data() {
  return {
      Loading: false,
      cleanInputs: false,
      type: "login"
    };
}

const axiosRequest = async ({self = null, method, url, data = null, handleError = false, headers = null}) => {
    try {
        const resp = await axios({
            method,
            url,
            ...( data ? { data } : {}),
            ...( headers ? { headers } : {}),
          });/* axios[method](url, { ...data }); */
        return resp;
    } catch (err) {
        console.error(err);
        
        if (handleError) {
          self.Loading = false;
          console.log(err);
          const msg = err?.response?.data?.message?.description || err?.responseJSON?.message?.description || err?.responseJSON?.mensaje?.description || err?.response?.statusText || '';
          if (msg){
            self.$swal.fire({
              position: "top-end",
              toast: true,
              icon: "warning",
              title: msg,
              showConfirmButton: false,
              timer: self.getMsgSeconds(msg),
              timerProgressBar: true,
            });
          }
          else self.globalError(true);
          if (self.type === 'login' && (err.response?.data?.message?.code === "032" || err.response?.data?.message?.code === "052")) {
              setTimeout(() => {
                self.changeTypeMeth('changepassword');
              }, (self.getMsgSeconds(msg) / 2));
          }
        }
        return  false;
    }
};

// METHODS
async function loginSystem() {
  const
    login = "jogrecolpe",
    password = "abc.123",
    url = "triplegordo.com.ve";

  const response = await axiosRequest({
    method: 'post', 
    url: this.$apiGeneral + 'IniciarSesion', 
    data: {
      login,
      password,
      url
    } 
  });

  if (response) {
    console.log("response",response);
    if (response?.data?.message?.code === "000" || response?.data?.Message?.code === "000") {
        const now = new Date();
        localStorage.setItem('tokenSistemaDate', now.toISOString());
        localStorage.setItem('tokenSistemaCaducidad', response.data.caducidad);
        localStorage.setItem('tokenSistema', response.data.token);
    }
  }
}

function goDashboard() {
  this.$router.push({ path: "Dashboard" });
}

function freeCartons() {
  const self = this;
  const tokenUsuario = sessionStorage.getItem("tokenUsuario");
  const tokenSesion = localStorage.getItem("tokenSistema");

  axios.put(self.$apiAdress + "LiberarCombinaciones/" + tokenUsuario, {}, { headers: { Authorization: "Bearer " + tokenSesion } })
    .then(function (response) {
      sessionStorage.removeItem('hasCombinations');
    })
    .catch(function (error) {});
}

async function loginMeth(datos) {
  console.log("datos login", datos);
  this.Loading = true;
  this.cleanInputs = false;

  const {
    login,
    password
  } = {
    ...datos,
    password: window.btoa(datos.password),
  };

  const response = await axiosRequest({
    self: this,
    method: 'post', 
    url: this.$apiAdressUsuario + 'IniciarSesion', 
    data: {
      login,
      password,
      appCode: "MDE="
    },
    handleError: true
  });

  if (response) {
    console.log("response", response);
    this.Loading = false;

    if (response?.data?.mensaje?.code === "000" || response?.data?.message?.code === "000") {
      const { datos_ } = {
        datos_: { ...(response?.data?.datos || response?.data?.data) }
      };
      const now_ = new Date();
      sessionStorage.setItem("nombreUsuario", datos_.userData.userName);
      sessionStorage.setItem("tiempoSesion", `${datos_.userData.expirationTime}`);
      // sessionStorage.setItem("tiempoCaducidad", `${datos_.userData.baseTime}`);
      sessionStorage.setItem("comienzoSesionDate", now_.toISOString());
      sessionStorage.setItem("tiempoAlerta", `${datos_.userData.alertTime}`);
      sessionStorage.setItem("tipoUsuario", datos_.userData.userType);
      sessionStorage.setItem("codigoUsuario", datos_.userData.userCode);
      sessionStorage.setItem("tokenUsuario", datos_.userData.userToken);

      const dataListaMenu = {
        "codigoMenu": ["01","02","03","04","05","06","07","08","09","10"],
        "descripcionMenu": ["INICIO","JUGAR","MIS MOVIMIENTOS","MIS TICKET","RETIRAR SALDO","VALIDAR PREMIO","ABONAR MONEDERO","PAYPAL TEST","PROCESAR MOVIMIENTO"],
        "idMenuPadre": "0",
        "urlMenu": ["dashboard","jugar","reporte","ticket","RetirarSaldo","validar","abonar","paypal","procesar"]
      };
      const listaMenu = dataListaMenu.codigoMenu.map( (codM, inx) => { return {
        codigoMenu: codM,
        idMenuPadre: "0",
        descripcionMenu: dataListaMenu.descripcionMenu[inx],
        urlMenu: dataListaMenu.urlMenu[inx],
      } });

      const theMenu = /* listaMenu */datos_.menuList.reduce((menu, item) => {
        if (+item.fatherCode == 0 && !menu[+item.menuCode]) 
          menu[+item.menuCode] = {
            ...item,
            menuCode: +item.menuCode,
            fatherCode: +item.fatherCode, 
            children: [],
          };
        else if (+item.fatherCode == 0 && menu[+item.menuCode]) 
          menu[+item.menuCode] = {
            ...menu[+item.menuCode],
            ...item,
            menuCode: +item.menuCode,
            fatherCode: +item.fatherCode,
          };
        else if (menu[+item.fatherCode]) 
          menu[+item.fatherCode].children.push({
            ...item,
            menuCode: +item.menuCode,
            fatherCode: +item.fatherCode,
          });
        else 
          menu[+item.fatherCode] = {
            children: [{
              ...item,
              menuCode: +item.menuCode,
              fatherCode: +item.fatherCode,
            }],
          }
        return menu;
      }, {});

      sessionStorage.setItem("listaMenu", JSON.stringify(theMenu));

      if (datos_.userData.confirmationStatus == "1") this.changeTypeMeth('codigo');
      else {
        this.cleanInputs = true;
        sessionStorage.setItem('usuarioValidado','1');
        this.freeCartons();
        this.$router.push({ path: "dashboard" });
      }
    }
    else if (response?.message?.description || response?.mensaje?.description) {
      sessionStorage.setItem('usuarioValidado','0');
      const msg = response?.message?.description || response?.mensaje?.description || '';
      this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg),
          timerProgressBar: true,
        });
    }
  }
}

async function RecoveryMeth (datos) {
  console.log("datos recovery", datos);

  const {
    userPassword: claveUsuario,
    email: correoUsuario,
    login,
    caducidad: caducidadClave
  } = {
    ...datos,
    userPassword: window.btoa(datos.password),
  };

  this.Loading = true;
  this.cleanInputs = false;

  const response = await axiosRequest({
    self: this,
    method: 'put', 
    url: this.$apiAdressUsuario + 'RecuperarClave', 
    data: {
      claveUsuario,
      correoUsuario,
      login,
      caducidadClave
    },
    handleError: true
  });

  if (response) {
    console.log("response", response);
    this.cleanInputs = true;
    this.Loading = false;

    if (response?.mensaje?.code === "000" || response?.data?.message?.code === "000") {
      const msg = response?.mensaje?.description || response?.data?.message?.description || '';
      this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "success",
          title: msg,
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg),
          timerProgressBar: true,
        });
    }
    else if (response?.message?.description || response?.mensaje?.description) {
      const msg = response?.message?.description || response?.mensaje?.description || '';
      this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg),
          timerProgressBar: true,
      });
    }
  }
}

async function ChangePasswordMeth (datos) {
  console.log("datos changepassword", datos);
  const tokenSistema = localStorage.getItem("tokenSistema");

  const {
    userPassword: claveNueva,
    previousPassword: claveAnterior,
    login,
    caducidad: caducidadClave
  } = {
    ...datos,
    previousPassword: window.btoa(datos.passwordPrev),
    userPassword: window.btoa(datos.password),
  };

  this.Loading = true;
  this.cleanInputs = false;

  const getDefaultUserToken = (code) => {
    const zeros = Array(32-code.length).fill(0).join('');
    return zeros + code;
  };

  const response = await axiosRequest({
    self: this,
    method: 'put', 
    url: this.$apiAdressUsuario + "CambiarClave", 
    data: {
      tokenUsuario: getDefaultUserToken(login),
      claveAnterior,
      claveNueva,
      caducidadClave,
    },
    headers: { Authorization: "Bearer " + tokenSistema },
    handleError: true
  });

  if (response) {
    console.log("response", response);
    this.cleanInputs = true;
    this.Loading = false;
    const msg = "¡Clave actualizada con éxito!";
    this.$swal.fire({
        position: "top-end",
        toast: true,
        icon: "success",
        title: msg,
        showConfirmButton: false,
        timer: this.getMsgSeconds(msg),
        timerProgressBar: true,
      });
  }
}

async function codigoMeth(datos) {
  console.log("datos codigo", datos);
  this.Loading = true;
  this.cleanInputs = false;

  const {
    login,
    validationCode
  } = {
    ...datos,
    validationCode: window.btoa(datos.codigo),
  };

  const response = await axiosRequest({
    self: this,
    method: 'post', 
    url: this.$apiAdressUsuario + 'ValidarCodigo', 
    data: {
      login,
      validationCode,
      appCode: "MDE="
    },
    handleError: true
  });

  if (response) {
    console.log("response", response);
    this.Loading = false;

    if (response?.data?.mensaje?.code === "000" || response?.data?.message?.code === "000") {
      sessionStorage.setItem('usuarioValidado','1');
      this.freeCartons();
      this.$router.push({ path: "dashboard" });
    }
    else if (response?.data?.message?.description || response?.data?.mensaje?.description) {
      sessionStorage.setItem('usuarioValidado','0');
      const msg = response?.message?.description || response?.mensaje?.description || '';
      this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg),
          timerProgressBar: true,
      });
    }
  }
}

function changeTypeMeth(type, prevType = null) {
  if (prevType) this.sessionLogout(true);
  this.type = type;
}

// MOUNTED
function mounted () {
  if (!sessionStorage.getItem("tokenUsuario")) this.closeSession(true);

  if (localStorage.getItem('tokenSistemaDate')) {
    const date_ = new Date(localStorage.getItem('tokenSistemaDate'));
    const now_ = new Date();

    let timeDiff = now_ - date_; //in ms
    timeDiff /= 1000; // strip the ms

    // get seconds 
    const seconds = Math.round(timeDiff);

    if ( (seconds / 60) > +localStorage.getItem('tokenSistemaCaducidad') ) this.loginSystem();
  } else this.loginSystem();

  const uV = sessionStorage.getItem('usuarioValidado');
  if (uV && uV === '1') this.$router.push({ path: "dashboard" });
}

export default {
  components: { authView },
  name: "Index",
  mixins: [General, ControlSession],
  freeSet,
  data,
  methods: {
    loginSystem,
    goDashboard,
    loginMeth,
    RecoveryMeth,
    ChangePasswordMeth,
    codigoMeth,
    changeTypeMeth,
    freeCartons,
  },
  mounted,
};
</script>

<style lang="scss" scoped>
.c-header-brand {
  text-decoration: none;
}

.c-header-nav-item {
  cursor: pointer;
  font-size: 2.032rem;
  height: 100%;
  padding: 13px;
}
.c-header-nav-item:hover {
  border-bottom: 4px solid #0d6efd;
}

#footer {
  background-color: #0d6efd;
}
.nav-link:hover {
  cursor: pointer;
}

h1 {
  color: white !important;
}

.img-background {
  background-image: url("~@/assets/img-home/bubles.png");
  background-color: #1152d1;
  background-repeat: no-repeat;
  background-position: top -10.5rem right -11.6rem;
  background-size: 25rem;
  min-height: calc(100vh - #{$height-header-sm});

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    background-position: top -18.5rem right -20.6rem;
    background-size: 45rem;
    min-height: calc(100vh - #{$height-header-md});

    @media screen and (min-width: 1024px) {
      background-image: url("~@/assets/img-home/bubles.png"), -webkit-linear-gradient(to left, #1142a3 34%, #1142a3cc 44%, #1142a3a6 48%, transparent 55%), url("~@/assets/img-home/image.jpg");
      background-image: url("~@/assets/img-home/bubles.png"), -moz-linear-gradient(to left, #1142a3 34%, #1142a3cc 44%, #1142a3a6 48%, transparent 55%), url("~@/assets/img-home/image.jpg");
      background-image: url("~@/assets/img-home/bubles.png"), -o-linear-gradient(to left, #1142a3 34%, #1142a3cc 44%, #1142a3a6 48%, transparent 55%), url("~@/assets/img-home/image.jpg");
      background-image: url("~@/assets/img-home/bubles.png"), linear-gradient(to left, #1142a3 34%, #1142a3cc 44%, #1142a3a6 48%, transparent 55%), url("~@/assets/img-home/image.jpg");
      background-position: top -23.5vw right -26vw, center, top center;
      background-size: 56.5vw, cover, cover;

      @media screen and (min-width: 1440px) {
        background-position: top -20.75vw right -23vw, center, top center;
        background-size: 49.5vw, cover, cover;
        min-height: calc(100vh - #{$height-header-xl});
      }
    }
  }
}

h1.title-login {
   font-weight: bold;
   text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);

   .first {
      font-size: 3.5rem;  
      line-height: 1;

      @media screen and (min-width: 768px) {
        font-size: 6rem;

        @media screen and (min-width: 1440px) {
          font-size: 8vw;
        }
      }
   }

   .second {
     font-size: 1.85rem;
     
     @media screen and (min-width: 768px) {
        font-size: 3.5rem;

        @media screen and (min-width: 1440px) {
          font-size: 4.5vw;
        }
     }
   }

   .third {
     font-size: 2.5rem;

     .inner {
       font-style: italic;
       color: $color-pollito;
     }

     @media screen and (min-width: 768px) {
        font-size: 4.85rem;

        @media screen and (min-width: 1440px) {
          font-size: 6.2vw;
        }
     }
   }
}


.crow-login {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: min-content;
    padding-right: 2rem;

    @media screen and (min-width: 1440px) {
      padding-right: 3.5vw;
      padding-top: 1vw;
    }
  }
}
</style>
