<template>
  <div class="img">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CContainer class="d-flex content-center min-vh-100">
      <CRow>
        <CCol>
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm @submit.prevent="login" method="POST">
                  <h1>Iniciar sesión</h1>
                  <p class="text-muted">Entra en tu cuenta</p>
                  <CInput
                    v-model="email"
                    prependHtml="<i class='cui-user'></i>"
                    placeholder="Username"
                    autocomplete="username email"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-user"
                    /></template>
                  </CInput>
                  <CInput
                    v-model="password"
                    prependHtml="<i class='cui-lock-locked'></i>"
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-lock-locked"
                    /></template>
                  </CInput>
                  <CRow>
                    <CCol col="6">
                      <CButton
                        type="submit"
                        @click.prevent="login"
                        color="primary"
                        class="px-4"
                        >Entrar</CButton
                      >
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton color="link" class="px-0"
                        >¡Olvidé mi contraseña!</CButton
                      >
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard
              style="background-color:#4B4BAF"
              text-color="white"
              class="text-center py-5"
              body-wrapper
            >
              <h2>Regístrate</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <CButton
                color="primary"
                class="active mt-3"
                @click="goRegister()"
              >
                Registrar!
              </CButton>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      Loading: false,
    };
  },
  methods: {
    goRegister() {
      this.$router.push({ path: "register" });
    },
    login() {
      let self = this;
      self.Loading = true;
      axios
        .post(this.$apiAdress + "/api/login", {
          email: self.email,
          password: self.password,
        })
        .then(function(response) {
          self.email = "";
          self.password = "";
          localStorage.setItem("api_token", response.data.access_token);
          localStorage.setItem("roles", response.data.roles);
          localStorage.setItem("email", response.data.email);
          localStorage.setItem("name", response.data.name);
          console.log(response.data);
          self.Loading = false;
          self.$router.push({ path: "dashboard" });
        })
        .catch(function(error) {
          self.Loading = false;
          self.$toastr.warning("¡Error, please check your password!");
          console.log(error);
        });
    },
  },
};
</script>
<style scoped>
/* .img {
  background: url("");
} */
</style>
