@media only screen and (max-width: 513px) {
  #carousel-home {
    height: 370px !important;
    overflow: hidden;
  }
  #carousel-home img {
    height: 370px;
  }
}

/* html,body{
  overflow-x: hidden!important;
} */

#carousel-home {
  height: 570px;
  overflow: hidden;
}

#seccion-productos {
  padding-top: 50px;
  background-color: white;
}

#seccion-productos .card,
#seccion-cursos .card {
  border-radius: 5px;
}
#seccion-productos .card .card-img-top,
#seccion-cursos .card .card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (max-width:513px){
  
}

#seccion-cursos {
  padding-top: 30px;
}

#menu ul li {
  padding: 10px;
}

#footer .footer-seccion {
  padding: 10px;
}

.footer-social li,
.footer-title {
  padding: 0px 1.25rem !important;
}

.list-group-item {
  border: 0px !important;
}

.footer-copyright-seccion {
  color: white;
}

/* pendiente con este cambio */
@media (min-width: 992px) {
  .c-sidebar.c-sidebar-fixed {
    bottom: auto !important;
  }
}
