<template>
  <div>
    <modalScratch
      :modal="VerModal"
      :cerrarModal="cerrarModal"
    />
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>REALIZA TU COMPRA</b></h3>
        <span>¡Acá podrás comprar tus tickets de forma rápida y segura!</span>
      </CCardHeader>
      <div
        class="text-center"
        v-bind:class="[isInLast ? 'background-two-color' : '']"
      >
        <CCol sm="10" style="margin: 0 auto">
          <form-wizard
            @on-complete="onComplete"
            @on-change="onChangeTheTab"
            color="#01064a"
            errorColor="#1152d1"
            title=""
            subtitle=""
            ref="wizard"
          >
            <template slot="step" slot-scope="props">
              <wizard-step
                :tab="props.tab"
                :transition="props.transition"
                :key="props.tab.title"
                :index="props.index"
              >
              </wizard-step>
            </template>
            <tab-content
              :before-change="beforeTabSwitch"
              title="Selecciona tu cartón"
              icon="ti-receipt"
            >
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center align-items-md-baseline
                  my-2
                  flex-column flex-md-row
                "
              >
                <div
                  class="
                    text-left
                    font-weight-bold
                    sorteo-desc
                    mb-3 mb-md-0
                    text-center text-md-left
                  "
                >
                  <p v-if="numSorteo" class="my-0">SORTEO N° {{setGetDecoded('atob', numSorteo)}}</p>
                  <p v-if="fechaSorteo" class="my-0">{{fechaSorteo}}</p>
                </div>
                <CButton
                  color="info"
                  size="sm"
                  v-c-tooltip="'Generar más ticket'"
                  class="
                    align-items-right
                    btn btn-primary
                    set-color-primary
                    isWhite
                    generate-plus-btn
                  "
                  @click="CargarMasTicket()"
                >
                  <CIcon name="cil-plus" />
                  <span>GENERAR MAS COMBINACIONES</span>
                </CButton>
              </div>
              <div class="row" v-if="items.length">
                <flicking
                  ref="ticketsFlicking"
                  :options="{
                    bound: true,
                    moveType: 'freeScroll',
                    align: 'prev',
                    defaultIndex: 0,
                  }"
                  :plugins="plugins"
                >
                  <div
                    v-for="(item, i) of items"
                    :key="i"
                    @click="toggleActive(item, i)"
                    v-bind:class="[isActive == i ? 'blue' : 'black']"
                  >
                    <div class="card-body card-img-container">
                      <img src="@/assets/carton.jpg" width="178" />
                      <div class="ticket-code-highlight">
                        <h2 v-for="(tA, tAi) in item.tripleAbierto[1]" :key="tAi">{{tA}}</h2>
                      </div>
                    </div>
                    <CCardHeader class="text-center text-black font-number">
                      <h4>{{ setGetDecoded('atob', item.code) }}</h4>
                    </CCardHeader>
                  </div>
                </flicking>
                <span class="flicking-arrow-prev is-circle is-outside"></span>
                <span class="flicking-arrow-next is-circle is-outside"></span>
              </div>
            </tab-content>

            <tab-content
              :before-change="validatePayment"
              title="Selecciona medio de pago"
              icon="ti-money"
            >
              <div class="col-md-12 d-grided-custom mb-5 pb-5 pt-3">
                <!-- <div v-for="(paymentMeth, pmInd) in the_payment_meths" :key="pmInd" class="form-check">
                  <input
                    type="radio"
                    name="methods"
                    v-model="payment_radio"
                    :id="paymentMeth.value+'-'+paymentMeth.code"
                    :value="paymentMeth.value"
                    class="form-check-input custom-form-check-input"
                  />
                  <label class="form-check-label" :for="paymentMeth.value+'-'+paymentMeth.code">
                    <img width="20%" src="@/assets/PayPal.jpg" />
                    <h3>{{paymentMeth.label}}</h3>
                  </label>
                </div> -->
                <div class="form-check">
                  <input
                    type="radio"
                    name="methods"
                    v-model="payment_radio"
                    id="paypal-pm"
                    value="paypal"
                    class="form-check-input custom-form-check-input"
                  />
                  <label class="form-check-label" for="paypal-pm">
                    <img width="20%" src="@/assets/PayPal.jpg" />
                  </label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    name="methods"
                    v-model="payment_radio"
                    id="monedero-pm"
                    value="monedero"
                    class="form-check-input custom-form-check-input"
                  />
                  <label class="form-check-label" for="monedero-pm">
                    <img width="20%" src="@/assets/Logo-TG1.png" />
                    <h3>Monedero Triple Gordo</h3>
                  </label>
                </div>
              </div>
            </tab-content>
            <tab-content
              :before-change="beforeTabSucess"
              title="Confirmación"
              icon="ti-wallet"
            >
              <div class="col-md-12">
                <div
                  v-if="this.payment_radio === 'paypal' && paypalConfirmed"
                  ref="paypal"
                ></div>
                <div v-else class="row mt-2 mb-4">
                  <div class="col-md-6">
                    <div class="ticker-wrapper">
                      <img src="@/assets/carton.jpg" width="200" />
                      <div class="ticket-code-highlight">
                        <h2 v-for="(iTA, iInd) in gettAarr(codigo[1])" :key="iInd">{{iTA}}</h2>
                      </div>
                    </div>
                  </div>
                  <div
                    class="
                      col-md-6
                      d-flex
                      flex-column
                      justify-content-center
                      align-items-start
                      text-left
                      mt-4 mt-md-0
                      pl-lg-5 pl-xl-0
                    "
                  >
                    <h4>Fecha del sorteo: {{fechaSorteo}}</h4>
                    <h4>Factura: {{ setGetDecoded('atob', codigo[0]) }}</h4>
                    <h4>Monto: {{precioCarton}}$</h4>
                    <!-- <CButton @click="Pay()" class="mr-4 btn-block" color="info">
                      <CIcon name="cil-check-circle" SSSS/> &nbsp; Confirmar
                    </CButton> -->
                  </div>
                </div>
              </div>
            </tab-content>
            <tab-content title="Finalizar proceso" icon="ti-check">
              <div
                class="row mt-2 pt-md-5"
                style="justify-content: center !important"
              >
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-8 mx-auto mr-lg-0 ml-lg-auto">
                      <h1 class="text-tab-final">¡FELICIDADES!</h1>
                      <br />
                      <h4 style="color: white">
                        ¡Su compra fue realizada con éxito!
                      </h4>
                      <br />
                      <h4 style="color: white">
                        "Raspa ya y comienza a Jugar con Triple Gordo"
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </tab-content>
            <template slot="footer" slot-scope="props">
              <div class="wizard-footer-left">
                <!-- remove previous button -->
                <wizard-button
                  v-if="props.activeTabIndex > 0 && !props.isLastStep"
                  @click.native="props.prevTab()"
                  class="plane-btn-style theLeft set-color-primary"
                  ><CIcon name="cis-paper-plane" />
                </wizard-button>
                <wizard-button
                  v-if="props.activeTabIndex > 0 && !props.isLastStep"
                  class="set-color-primary"
                  @click.native="props.prevTab()"
                  :style="props.fillButtonStyle"
                  >ANTERIOR</wizard-button
                >
              </div>
              <div class="wizard-footer-right">
                <!-- v-if="the_payment_meths.length" -->
                <wizard-button
                  @click.native="props.nextTab()"
                  class="set-color-primary"
                  :style="props.fillButtonStyle"
                  >{{
                    props.isLastStep ? "RASPAR" : "SIGUIENTE"
                  }}</wizard-button
                >
                <!-- v-if="the_payment_meths.length && !props.isLastStep" -->
                <wizard-button
                  v-if="!props.isLastStep"
                  @click.native="props.nextTab()"
                  class="plane-btn-style theRight set-color-primary"
                  ><CIcon name="cis-paper-plane" />
                </wizard-button>
              </div>
            </template>
          </form-wizard>
        </CCol>
      </div>
    </CCard>
  </div>
</template>

<script>
// import VueScratchable from "vue-scratchable";
import General from "@/_mixins/general";
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import { Arrow } from "@egjs/flicking-plugins";
import "@egjs/flicking-plugins/dist/arrow.css";
import axios from "axios";
import modalScratch from "./modal-scratch";
// import func from 'vue-editor-bridge';
import { DateFormater } from "@/_helpers/funciones";

function data() {
  return {
    items: [],
    activeIndex: 0,
    codigo: ['', ''], // numero factura y triple abierto
    isActive: -1,
    payment_radio: "",
    plugins: [
      new Arrow({
        parentEl: document.body,
      }),
    ],
    Loading: false,
    isInLast: false,
    status_pay: "",
    listado: {},
    tieneCombinaciones: false,
    paypalConfirmed: false,
    payedPaypalConfirmed: false,
    paypalReference: '',
    the_payment_meths: [],
    VerModal: false,
    numSorteo: "",
    fechaSorteo: "",
    precioCarton: "",
  };
}

//Pagar Carton
async function PayCarton() {
  const userToken = sessionStorage.getItem("tokenUsuario");
  const tokenSistema = localStorage.getItem("tokenSistema");
  const userCode = sessionStorage.getItem("codigoUsuario");
  const mediumCode = this.payment_radio === 'monedero' ? '01' : '04'; // '01' -> MONEDERO, '04' -> PAYPAL

  let self = this;
  self.Loading = true;
  try {
    const resp = await axios.post(
      self.$apiAdress + "PagarCarton",
      {
        userToken,
        userCode,
        invoiceNumber: self.codigo[0],
        referenceNumber: mediumCode != '04' ? '' : window.btoa(self.paypalReference),
        lotteryNumber: self.numSorteo,
        mediumCode,
        amount: self.precioCarton,
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSistema,
        },
      }
    );
    return resp;
  } catch (err) {
    const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
    if (msg)
      self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
    else self.globalError(true);
    self.Loading = false;
    if (err.response?.data?.message?.code === "008") self.clearSession();
    return false;
  }
}

//Solicita otra combinacion de ticket
function CargarMasTicket() {
  let self = this;
  this.$swal
    .fire({
      title: "¿Desea listar otros cartones?",
      text: "¡Esto libera los actuales y genera otra combinación de cartones!",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "CONFIRMAR",
      cancelButtonText: "CANCELAR",
    })
    .then(async (result) => {
      if (result.isConfirmed) {
        if (self.tieneCombinaciones) await self.ReleaseCartons();
        //incovar la api de cargar mas cartones
        console.log("Despues de liberar cartones");
        self.items = [];
        self.listarCartones();
      }
    });
}

function setLoaded() {
  this.loaded = true;
  let self = this;
  window.paypal
    .Buttons({
      style: {
        layout: "vertical",
        color: "blue",
        shape: "rect",
        label: "paypal",
        tagline: false,
      },
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [
            {
              description: "PAGO TICKET",
              amount: {
                currency_code: "USD",
                value: +self.precioCarton,
              },
            },
          ],
          application_context: {
            shipping_preference: "NO_SHIPPING",
          },
        });
      },
      onApprove: async (data, actions) => {
        // const order = await actions.order.capture();
        return actions.order.capture().then(function (details) {
          console.log("que tiene details", details);
          if (details?.status === "COMPLETED") {
            self.payedPaypalConfirmed = true;
            self.paypalReference = details.id || '';
            if (self.$refs?.wizard) self.$refs.wizard.nextTab();
          }
        });
        // console.log("ORDEN", order);
        // console.log("DATA", data);
        // console.log("actions", actions);
      },
      onError: (err) => {
        console.log("error", err);
        self.$swal.fire({
          icon: "error",
          title: "Solicitud no procesada",
          text: "No se pudo comunicar con Paypal",
        });
      },
    })
    .render(this.$refs.paypal);
}

//Libera los cartaones
async function ReleaseCartons(notAll = false) {
  let userToken = sessionStorage.getItem("tokenUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  let userCode = sessionStorage.getItem("codigoUsuario");
  let self = this;
  self.Loading = true;

  const theRequest = async () => {
    try {
      const resp = await axios.put(
        self.$apiAdress + "LiberarCombinaciones/" + userToken,
        {/* 
          userToken,
          userCode,
         */},
        {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + tokenSistema,
          },
        }
      );
      return resp;
    } catch (err) {
      self.Loading = false;
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
      return false;
    }
  };

  const result = userToken ? await theRequest() : false;

  if (result) {
    console.log(result);
    this.tieneCombinaciones = false;
    sessionStorage.removeItem('hasCombinations');
    this.Loading = false;
    if (!notAll) this.cleanAll();
  }
}

//Valida si se hizo el pago
async function beforeTabSucess() {
  if (
    this.payment_radio === "paypal" &&
    this.paypalConfirmed &&
    !this.payedPaypalConfirmed
  )
    return false;

  let self = this;
  const tryC = async () => {
    try {
      if (self.payment_radio === "paypal" && self.paypalConfirmed) {
        return {
          isConfirmed: true,
        };
      } else {
        const resp = await this.$swal.fire({
          title: "¿Está seguro que desea confirmar su compra?",
          text: "¡No podrá editar su selección luego!",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "CONFIRMAR",
          cancelButtonText: "CANCELAR",
        });
        return resp;
      }
    } catch (error) {
      return false;
    }
  };

  const result = await tryC();
  if (result.isConfirmed) {
    $("#paypal-pm").prop("disabled", true);
    $("#monedero-pm").prop("disabled", true);
    if (self.payment_radio === "paypal" && !self.paypalConfirmed) {
      console.log("estoy montando el script");
      self.Loading = true;
      self.paypalConfirmed = true;
      const script = document.createElement("script");
      script.src =
        "https://www.paypal.com/sdk/js?client-id=Ae9OumIj59jBg2HcqsI24OfyQLKEiYI6PRMMaVC7-fzo5-TKEHUl2MdJgTJ8zSVeFxfI8pV5DVywSp9q";
      script.addEventListener("load", self.setLoaded);
      document.body.appendChild(script);
      self.Loading = false;
    } else {
      const resp = await self.PayCarton();
      if (resp) {
        console.log(resp);
        const {
          instantaneo,
          parMillonarioA,
          parMillonarioB,
          superDupleta1,
          superDupleta2,
          superDupleta3,
          tripleTerminalA,
          tripleTerminalB,
          tripleTerminalC,
          colorBorde = null,
        } = resp.data.data;

        self.listado = {
          estatusInstantaneo: '0',
          estatusParMil: '0',
          estatusSuperDup: '0',
          estatusTripleTer: '0',
          tripleAbierto: self.codigo[1],
          numeroFactura: self.codigo[0],
          codigoSorteo: self.numSorteo,
          // 
          instantaneo,
          parMillonarioA,
          parMillonarioB,
          superDupleta1,
          superDupleta2,
          superDupleta3,
          tripleTerminalA,
          tripleTerminalB,
          tripleTerminalC,
          colorBorde
        };
        self.status_pay = resp.status;
        self.Loading = false;
      } else {
        self.status_pay = 0;
        if (self.payment_radio === "paypal" && self.payedPaypalConfirmed)
          self.globalConsultarSaldo(false, true);
      }

      if (self.status_pay == 200) return true;
      else return false;
    }
  } else return false;
}

//Toogle de los cartones step -1
function toggleActive(item, i) {
  this.isActive = i;
  this.codigo = [item.code, item.tripleAbierto[0]];
}

function restorFlicks() {
  let self = this;
  const status = this.$refs.ticketsFlicking.getStatus();

  setTimeout(() => {
    self.$refs.ticketsFlicking.setStatus(status);
    self.$refs.ticketsFlicking.moveTo(status.index, 0);
  });
}

function getMediosDePago() {
  let self = this;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(self.$apiAdress + "ListarMedioPago" + "/" + "00", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      console.log("trae el response", response);
      if (
        response?.data?.message?.code === "000" ||
        response?.data?.mensaje?.code === "000"
      ) {
        if (response.data.datos?.length) {
          const paymentMeths = response.data.datos.map((dto) => {
            const theVal = dto.name.toLowerCase().trim().split(" ").join("-");
            return { label: `${dto.name}`, value: theVal, code: dto.code };
          });
          self.the_payment_meths = paymentMeths;
        }
      }
    })
    .catch(function (err) {
      console.log(err);
    });
}

function cleanAll() {
  this.activeIndex = 0;
  this.codigo = ["", ""];
  this.isActive = -1;
  this.payment_radio = "";
  this.isInLast = false;
  this.status_pay = "";
  this.listado = {};
  this.paypalConfirmed = false;
  this.payedPaypalConfirmed = false;
  this.paypalReference = '';

  let self = this;
  setTimeout(() => {
    if (self.$refs?.wizard) self.$refs.wizard.reset();
  });
}

function getCarton (item) {
  this.VerModal = item;
}

async function listarCartones() {
  const self = this;
  const tokUsuario = sessionStorage.getItem("tokenUsuario");
  const tokenSistema = localStorage.getItem("tokenSistema");
  this.Loading = true;

  const request = async () => {
    try {
      const resp = await axios.get(self.$apiAdress + 'ListarCartones/' + tokUsuario, { headers: { Authorization: "Bearer " + tokenSistema } });
      return resp;
    } catch (err) {
      console.error(err);
      console.log(err.response);
      self.Loading = false;
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
      return false;
    }
  };

  const result = await request();

  if (result/* true */) {
    console.log('heyyyyyyy', result);
    this.Loading = false;
    if ( result?.data?.mensaje?.code === "000"/* true */ ) {
        if (result.data.datos?.length/* true */) {
          // const burnedData = { //esto no va
          //       "fechaSorteo": 1609473600,
          //       "numeroFactura": ["MjMzMTMw","NzE0MzA5","MzkzNzUw","NDUyMTIx","NjIzNjkw","NjMwODMx","ODYyNDI5","ODEwNjEz","ODQxMzIx","MDY3ODg0"],
          //       "precioCarton": 5,
          //       "sorteo": "OTA5",
          //       "tripleAbierto": ["ODA1","MzQ5","ODQ3","MTky","Mjk1","NzM3","MjE2","Njcx","MDEz","NTU3"],
          //       "urlCarton": "http://192.168.200.226:8041/001"
          //   };
          const theItems =
            // burnedData.numeroFactura.map( (numF, inx) => { return { ...burnedData, numeroFactura: numF, tripleAbierto: burnedData.tripleAbierto[inx] } })
        result.data.datos.map(item => {
              return {
                ...item,
                code: item.numeroFactura,
                tripleAbierto: [item.tripleAbierto, self.gettAarr(item.tripleAbierto)],
              }
            });
          
          this.items = theItems;
          if (this.items.length) {
            this.numSorteo = this.items[0].sorteo;
            this.fechaSorteo = DateFormater.DateFormaterEpoch(this.items[0].fechaSorteo, true);
            this.precioCarton = this.items[0].precioCarton;
          }
          this.tieneCombinaciones = true;
          sessionStorage.setItem('hasCombinations', '1');
          if (self.$refs?.wizard) self.$refs.wizard.reset();
          if (self.$refs?.ticketsFlicking) self.$refs.ticketsFlicking.moveTo(0, 0);
        } 
    }
  }
}

function setGetDecoded(type, code) {
  return code ? window[type](code) : code;
}

function gettAarr(tA) {
  return tA ? (window.atob(tA)).split('') : tA;
}

function cerrarModal() {
  this.VerModal = false;
  this.$router.push({ path: "ticket" });
}

// MOUNTED
function mounted() {
  let self = this;
  this.listarCartones();
  // this.getMediosDePago();

  self.emitter.on("setTicketsFree", e => {
    if (self.tieneCombinaciones) self.ReleaseCartons(true);
  });
  // $('#paypal-pm').disabled = true;

}

export default {
  name: "index",
  data,
  mixins: [General],
  components: {
    FormWizard,
    TabContent,
    modalScratch,
  },
  methods: {
    CargarMasTicket,
    beforeTabSucess,
    PayCarton,
    ReleaseCartons,
    toggleActive,
    restorFlicks,
    setLoaded,
    getMediosDePago,
    cleanAll,
    getCarton,
    listarCartones,
    setGetDecoded,
    gettAarr,
    cerrarModal,
    onComplete() {
      // this.$router.push({ path: "play" });
      this.getCarton(this.listado);
    },
    onChangeTheTab(prev, next) {
      this.activeIndex = next;
      this.isInLast = next == 3 ? true : false;
      if (this.isInLast) {
        this.ReleaseCartons(true);
        this.globalConsultarSaldo(false, true);
      }
      if (!next && this.$refs?.ticketsFlicking) this.restorFlicks();
    },
    beforeTabSwitch() {
      if (this.codigo[0] === "") {
        const msg = "Debe seleccionar un cartón";
        this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "error",
          title: msg,
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg),
          timerProgressBar: true,
        });
        return false;
      } else {
        return true;
      }
    },
    validatePayment: async function () {
      const msg = ["Debe seleccionar un metódo de pago", "No cuenta con saldo suficiente para realizar esta operación"];
      if (this.payment_radio === "") {
        this.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "error",
          title: msg[0],
          showConfirmButton: false,
          timer: this.getMsgSeconds(msg[0]),
          timerProgressBar: true,
        });
        return false;
      } else if (this.payment_radio === "monedero") {
        const saldo = +sessionStorage.getItem("saldoDisponible");
        if (saldo && saldo >= +this.precioCarton) return true;
        else {
          this.$swal.fire({
            position: "top-end",
            toast: true,
            icon: "error",
            title: msg[1],
            showConfirmButton: false,
            timer: this.getMsgSeconds(msg[1]),
            timerProgressBar: true,
          });
          await this.ReleaseCartons();
          return false;
        }
      } else {
        return true;
      }
    },
  },
  props: ["title", "content", "active"],
  destroyed() {
    if (this.tieneCombinaciones) {
      console.log("liberando");
      this.ReleaseCartons(true);
    }
  },
  mounted,
};
</script>

<style lang="scss" scoped>
@mixin tripleAbierto($bottom, $right, $width, $fontSize: 1.1rem) {
  .ticket-code-highlight {
    position: absolute;
    bottom: $bottom;
    right: $right;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: $width;

    h2 {
      color: $color-blue-black;
      font-size: $fontSize;
      font-weight: 800;
    }
  }
}

.card-img-container {
  position: relative;

  img {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  }

  @include tripleAbierto(2.72rem, 1.85rem, 2.25rem);
}

.vue-step-wizard {
  width: 100%;
}

.custom-cursor {
  cursor: pointer;
}
.black {
  color: $color-primario;
}

.blue {
  color: $color-secundario;

  h4 {
    transition: all 0.25s;
    transform: scale(1.2);
  }
}
.flicking-viewport {
  position: static !important;
}

.flicking-arrow-prev.is-circle::before,
.flicking-arrow-prev.is-circle::after,
.flicking-arrow-next.is-circle::before,
.flicking-arrow-next.is-circle::after {
  background-color: $color-primario;
}
.flicking-arrow-prev.is-circle,
.flicking-arrow-next.is-circle {
  border: 2px solid;
}
.flicking-arrow-prev.is-circle,
.flicking-arrow-next.is-circle {
  background-color: white;
  border-radius: 50%;
}
.flicking-arrow-disabled.is-circle {
  background-color: rgba(167, 154, 154, 0.541);
}
.background-two-color {
  background-image: linear-gradient(
    0deg,
    rgba(70, 63, 156, 1) 52%,
    rgba(255, 255, 255, 1) 52%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media screen and (min-width: 391px) {
    background-image: linear-gradient(
      0deg,
      rgba(70, 63, 156, 1) 60%,
      rgba(255, 255, 255, 1) 60%
    );

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
        0deg,
        rgba(70, 63, 156, 1) 65%,
        rgba(255, 255, 255, 1) 65%
      );
    }
  }

  @media screen and (min-width: 992px) {
    background-image: url("~@/assets/dashbord.png"),
      linear-gradient(
        0deg,
        rgba(70, 63, 156, 1) 65%,
        rgba(255, 255, 255, 1) 65%
      );
    background-repeat: no-repeat;
    background-position: bottom left 3rem, center;
    background-size: 53%, 100%;

    @media screen and (min-width: 1000px) {
      background-size: 48%, 100%;

      @media screen and (min-width: 1100px) {
        background-size: 25rem, 100%;

        @media screen and (min-width: 1300px) {
          background-size: 30rem, 100%;

          @media screen and (min-width: 1440px) {
            background-position: bottom left 16%, center;
          }
        }
      }
    }
  }
}
.text-tab-final {
  color: $color-pollito;
  font-size: 1.75rem;
  font-weight: 800;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;

    @media screen and (min-width: 1440px) {
      font-size: 3.5rem;
    }
  }
}
.tab-inicial {
  margin: 0 auto !important;
  padding: 0 !important;
}

.sorteo-desc {
  color: $color-primario;

  @media screen and (orientation: portrait) and (max-width: 767px) {
    width: 100%;
  }
}

.generate-plus-btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.25rem;
  align-items: center;
}

.d-grided-custom {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
  grid-row-gap: 3rem;

  @media screen and (orientation: portrait) and (max-width: 600px) {
    grid-template-columns: 100%;
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: 33.333% 33.333% 33.333%;
  }

  img {
    width: 15rem;

    @media screen and (max-width: 1100px) {
      width: 10rem;
    }

    @media screen and (min-width: 1440px) {
      width: 85%;
    }
  }
}

.custom-form-check-input {
  bottom: -1.5rem;
  left: calc(50% + 1rem);
}

.ticker-wrapper {
  width: 200px;
  position: relative;

  @include tripleAbierto(1.77rem, 0.55rem, 2.75rem);
}

//Flickigin inline 
.flicking-viewport {
  position: relative;
  overflow: hidden;
}
.flicking-viewport:not(.vertical) {
  width: 100%;
  height: 100%;
}
.flicking-camera {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  will-change: transform;
}

.flicking-camera>* {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.flicking-viewport.vertical,
.flicking-viewport.vertical > .flicking-camera {
  display: inline-block;
}
.flicking-viewport.vertical.middle > .flicking-camera > * {
  vertical-align: middle;
}
.flicking-viewport.vertical.bottom > .flicking-camera > * {
  vertical-align: bottom;
}
.flicking-viewport.vertical > .flicking-camera > * {
  display: block;
}
.flicking-viewport.flicking-hidden > .flicking-camera > * {
  visibility: hidden;
}

//Flicking css 
.flicking-viewport {
  position: relative;
  overflow: hidden;
}

.flicking-camera {
  width: 100%;
  height: 100%;
  display: flex !important;
  position: relative;
  flex-direction: row;
  z-index: 1;
}
.flicking-camera>* {
  flex-shrink: 0;
}

.flicking-viewport.vertical {
  display: inline-flex;
}
.flicking-viewport.vertical>.flicking-camera {
  display: inline-flex;
  flex-direction: column;
}

.flicking-viewport.flicking-hidden .flicking-camera > * {
  visibility: hidden;
}

//arrow
.flicking-arrow-prev,
.flicking-arrow-next {
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}

.flicking-arrow-prev {
  left: 10px;
}
.flicking-arrow-next {
  right: 10px;
}

.flicking-arrow-prev.is-outside {
  left: -74px;
}
.flicking-arrow-next.is-outside {
  right: -74px;
}

.flicking-arrow-prev::before,
.flicking-arrow-prev::after,
.flicking-arrow-next::before,
.flicking-arrow-next::after {
  content: "";
  width: 24px;
  height: 6px;
  position: absolute;
 
}
.flicking-arrow-prev::before {
  top: 50%;
  left: 22px;
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
}
.flicking-arrow-prev::after {
  top: calc(50% - 4px);
  left: 22px;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
}
.flicking-arrow-next::before {
  top: 50%;
  right: 22px;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
}
.flicking-arrow-next::after {
  top: calc(50% - 4px);
  right: 22px;
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
}

.flicking-arrow-disabled,
.flicking-arrow-disabled {
  cursor: default;
}

.flicking-arrow-disabled::before,
.flicking-arrow-disabled::after,
.flicking-arrow-disabled::before,
.flicking-arrow-disabled::after {
  background-color: #e6e6e6;
}

//pagination
.flicking-pagination {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.flicking-pagination-bullets,
.flicking-pagination-scroll {
  font-size: 0;
}

.flicking-pagination-scroll {
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.flicking-pagination-scroll .flicking-pagination-slider {
  transition: .2s transform;
}
.flicking-pagination-scroll.flicking-pagination-uninitialized .flicking-pagination-slider,
.flicking-pagination-scroll.flicking-pagination-uninitialized .flicking-pagination-bullet {
  transition: none;
}

.flicking-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
 
  cursor: pointer;
  font-size: 1rem;
}

.flicking-pagination-scroll .flicking-pagination-bullet {
  vertical-align: middle;
  position: relative;
  transition: .2s transform;
}

.flicking-pagination-scroll .flicking-pagination-bullet {
  vertical-align: middle;
  position: relative;
  transition: .2s transform,.2s left;
  transform: scale(0);
}

.flicking-pagination-scroll .flicking-pagination-bullet-active {
  transform: scale(1);
}

.flicking-pagination-scroll .flicking-pagination-bullet-prev,
.flicking-pagination-scroll .flicking-pagination-bullet-next {
  transform: scale(0.66);
}

.flicking-pagination-scroll .flicking-pagination-bullet-prev2,
.flicking-pagination-scroll .flicking-pagination-bullet-next2 {
  transform: scale(0.33);
}

</style>