<template>
  <div>
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="12">
          <CCard>
            <CCardHeader class="text-center botonesP text-white">
              <h3><b>PROCESAR MOVIMIENTOS</b></h3>
              <span>¡Acá podrás validar el proceso de los usuarios!</span>
            </CCardHeader>
            <div>
              <DateComponent
                :valoresDate="search_register"
                :valoresclean="Cancelar"
                :isRequiredTypeMov="true"
              />
              <CCol sm="12" class="text-center">
                <CDataTable
                  :items="itemsFiltered"
                  :fields="fields"
                  :loading="isLoading"
                  column-filter
                  :items-per-page="8"
                  :noItemsView="tableText.noItemsViewText"
                  :items-per-page-select="tableText.itemsPerPageText"
                  hover
                  small
                  sorter
                  pagination
                >
                  <template #fechaMovimiento-filter>
                    <input 
                      class="form-control form-control-sm hola"
                      v-model="datafechaMovimiento"
                    >
                  </template>
                  <template #fechaMovimiento="{ item: { fechaMovimientoShown } }">
                    <td>
                      {{ fechaMovimientoShown }}
                    </td>
                  </template>
                  <template #status="{ item }">
                    <td>
                      <CBadge :color="getBadge(item.status)">{{
                        item.status
                      }}</CBadge>
                    </td>
                  </template>
                  <template #Detalle="{ item }">
                    <td class="py-2">
                      <CButton @click="procesarMov(item, '1')" color="success"
                        >VALIDAR</CButton
                      >
                    </td>
                    <td>
                      <CButton @click="procesarMov(item, '2')" color="danger"
                        >RECHAZAR</CButton
                      >
                    </td>
                  </template>
                </CDataTable>
              </CCol>
            </div>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import General from "@/_mixins/general";
import axios from "axios";
import DateComponent from "@/components/date-filter.vue";
import { DateFormater } from "@/_helpers/funciones";

const fields = [
  { key: "banco", label: "Banco" },
  { key: "fechaMovimiento", label: "Fecha" },
  { key: "medioPago", label: "Medio de pago" },
  { key: "montoMovimiento", label: "Monto" },
  { key: "nombreAsociado", label: "Nombre" },
  { key: "cedula", label: "Cédula" },
  { key: "numeroTelefono", label: "Teléfono" },
  { key: "referencia", label: "Referencia" },
  { key: "codigoMovimiento", label: "Código" },

  {
    key: "Detalle",
    label: "",
    sorter: false,
    filter: false,
  },
];

function search_register(val) {
  this.items = [];
  let listado = [];
  let tokUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  let start = val.start_date.toString();
  let end = val.end_date.toString();
  let select = btoa(val.selectVal);
  end = (new Date(end).getTime() + 14400000) / 1000;
  start = (new Date(start).getTime() + 14400000)  / 1000;

  let self = this;
  self.isLoading = true;
  axios
    .get(
      self.$apiAdressCobranza +
        "ListarMovPendiente" +
        "/" +
        tokUsuario +
        "/" +
        "MDE=" +
        "/" +
        start +
        "/" +
        end +
        "/" +
        select,
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSistema,
        },
      }
    )
    .then(function (response) {
      console.log(response);
      listado = [...response.data.datos];
      console.log("que tiene listado", listado);

      // const randomDate = (start, end) => (new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime())).getTime() + 14400000) / 1000;
      self.items = listado.map((listado) =>
        Object.assign({}, self.items, {
          fechaMovimiento: listado.fechaMovimiento/* randomDate(new Date(2021, 11, 1), new Date()) */,
          montoMovimiento: DateFormater.numberWithCommas(
            listado.montoMovimiento
          ),
          cedula: window.atob(listado.cedula),
          banco: listado.banco,
          medioPago: window.atob(listado.medioPago),
          nombreAsociado: listado.nombreAsociado,
          numeroTelefono: listado.numeroTelefono,
          referencia: window.atob(listado.referencia),
          codigoMovimiento: window.atob(listado.codigoMovimiento),
        })

      );
      console.log('self.items',self.items)
      self.isLoading = false;
    })
    .catch(function (err) {
      console.error(err);
      self.isLoading = false;
      console.log(err);
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

function Cancelar() {
  this.items = [];
}

function dateFormatr(dateStr) {
  return DateFormater.DateFormaterEpoch(dateStr);
}

async function procesarMov(item, mode) {
  console.log("item", item);
  let tokenUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  let self = this;

  const valInput = await this.$swal.fire({
    input: "textarea",
    inputLabel: "Observación",
    confirmButtonText: "CONFIRMAR",
    cancelButtonText: "CANCELAR",
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    inputPlaceholder: "Introduzca su observación...",
    inputAttributes: {
      "aria-label": "Type your message here",
    },
    showCancelButton: true,
  });
  if (valInput.isConfirmed) {
    const observacion = valInput.value || "";
    axios
      .put(
        self.$apiAdressCobranza + "ProcesarMovimiento",
        {
          tokenUsuario,
          observacion,
          codigoAplicacion: "MDE=",
          codigoMovimiento: window.btoa(item.codigoMovimiento),
          estatusMovimiento: mode,
        },
        {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + tokenSistema,
          },
        }
      )
      .then(function (response) {
        console.log(response);
        const msg = response.data.message.description;
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "success",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
        self.isLoading = false;
      })
      .catch(function (err) {
        console.error(err);
        self.isLoading = false;
        console.log(err);
        const msg = err?.response?.data?.message?.description ||
              err?.responseJSON?.message?.description ||
              err?.responseJSON?.mensaje?.description ||
              err?.response?.statusText || '';
        if (msg)
          self.$swal.fire({
            position: "top-end",
            toast: true,
            icon: "warning",
            title: msg,
            showConfirmButton: false,
            timer: self.getMsgSeconds(msg),
            timerProgressBar: true,
          });
        else self.globalError(true);
        if (err.response?.data?.message?.code === "008") self.clearSession();
      });
  }
}

function getBadge(status) {
  return status === "Activo"
    ? "success"
    : status === "Inactivo"
    ? "danger"
    : status === "Pending"
    ? "warning"
    : status === "Banned"
    ? "danger"
    : "primary";
}

function data() {
  const date = new Date();
  return {
    items: [],
    tableText: Object.assign({}, tableTextHelpers),
    isLoading: false,
    datafechaMovimiento: '',
  };
}

const tableTextHelpers = {
  tableFilterText: {
    label: "FILTRAR:",
    placeholder: "MOVIMIENTOS",
  },
  itemsPerPageText: {
    label: "Movimientos por página:",
  },
  noItemsViewText: {
    noResults: "NO SE ENCONTRARON RESULTADOS",
    noItems: "NO HAY MOVIMIENTOS DISPONIBLES",
  },
};

export default {
  name: "index",
  mixins: [General],
  data,
  components: { DateComponent },
  props: {
    fields: {
      type: Array,
      default() {
        return fields;
      },
    },
  },
  computed: {
    itemsComputed () {
      return this.items.map(item => {
        return {
          ...item,
          fechaMovimientoShown: this.dateFormatr(item.fechaMovimiento),
        }
      })
    },
    itemsFiltered () {
      return this.itemsComputed.filter(item => {
        return !this.datafechaMovimiento || item.fechaMovimientoShown.includes(this.datafechaMovimiento);
      })
    }
  },
  methods: {
    search_register,
    getBadge,
    Cancelar,
    procesarMov,
    dateFormatr,
  },
};
</script>
