<template>
  <div>
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>BIENVENIDO A TRIPLE GORDO</b></h3>
      </CCardHeader>
     <CCardBody class="fondo-color">
        <CCol sm="12" class="text-center logo">
          <img class="img-logo" src="@/assets/Logo-TG1.png" alt="">  
       </CCol>
     </CCardBody>
    </CCard>

    <!--
    <CCardGroup class="mb-4">
      <CRow lg="12" style="width:100%">
        <CCol sm="6" lg="3">
          <CWidgetProgressIcon
            header="87.500"
            text="Visitors"
            color="info"
            inverse
          >
            <CIcon name="cil-people" height="36" />
          </CWidgetProgressIcon>
        </CCol>
        <CCol sm="6" lg="3">
          <CWidgetProgressIcon
            header="385"
            text="New Clients"
            color="success"
            inverse
          >
            <CIcon name="cil-userFollow" height="36" />
          </CWidgetProgressIcon>
        </CCol>
        <CCol sm="6" lg="3">
          <CWidgetProgressIcon
            header="1238"
            text="Products sold"
            color="warning"
            inverse
          >
            <CIcon name="cil-basket" height="36" />
          </CWidgetProgressIcon>
        </CCol>
        <CCol sm="6" lg="3">
          <CWidgetProgressIcon
            header="28%"
            text="Returning Visitors"
            color="primary"
            inverse
          >
            <CIcon name="cil-chartPie" height="36" />
          </CWidgetProgressIcon>
        </CCol>
      </CRow>
    </CCardGroup>
-->
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      isAdmin: false,
    };
  },
  methods: {
    color(value) {
      let $color;
      if (value <= 25) {
        $color = "info";
      } else if (value > 25 && value <= 50) {
        $color = "success";
      } else if (value > 50 && value <= 75) {
        $color = "warning";
      } else if (value > 75 && value <= 100) {
        $color = "danger";
      }
      return $color;
    },
  },

  mounted: function() {
    if (localStorage.getItem("roles") == "user,admin") {
      this.isAdmin = true;
    }
    /*
    let self = this;
    self.Loading = true;
    axios
      .get(
        this.$apiAdress +
          "/api/courses/mycourses?token=" +
          localStorage.getItem("api_token")
      )
      .then(function(response) {
        self.items = response.data;
        self.Loading = false;
      })
      .catch(function(error) {
        console.log(error);
        self.$router.push({ path: "/login" });
      });
      */
  },
};
</script>
<style lang="scss" scoped>
#next {
  float: right;
}
.logo{
  margin: auto;
  padding: 0rem 0rem 1rem 0rem; 

  @media screen and (min-width: 768px) {
   padding: 0rem 8rem 5rem 8rem; 
  }
}
.img-logo{
  width: 100%;
}
.fondo-color{
  background-color: hsl(216, 72%, 43%) !important;
}
</style>
