<template>
  <div>
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>PAGAR TICKET</b></h3>
      </CCardHeader>
      <CCol sm="12" class="text-center">
        <CCardBody>
          <CRow class="mt-2">
            <CCol sm="12" class="text-center mb-4">
              <h3><b>Validar Ticket</b></h3>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"><b>Nro de Sorteo: </b>{{sorteo}}</span>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"><b>Fecha Sorteo: </b>{{fechaSorteo}}</span>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"><b>Serial del ticket:</b> {{ obj_serial }}</span>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"
                ><b>Código operadora:</b> {{ obj_operador }}</span>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"><b>Dirección del sitio de pago: </b>{{direccionSitio}}</span>
            </CCol>
            <CCol sm="6" class="mb-3">
              <span class="text-validar"><b>Nombre del sitio de pago: </b>{{sitioPagoMillonario}}</span>
            </CCol>
          </CRow>
          <CRow class="mt-3">
            <!-- AQUI VA EL VI-IF SI ES GANADOR O MILLONARIO -->
            <div v-if="estatusMillonario === '0'" class="row col-sm-12">
              <CCol sm="12" class="text-center mt-3 mb-4">
                <h3><b>TICKET GANADOR</b></h3>
              </CCol>
              <CCol sm="12">
                <CRow>
                  <CCol sm="6" class="mb-3">
                    <span class="text-validar"><b>Sección: </b>{{seccion}}</span>
                </CCol>
                <CCol sm="6" class="mb-3">
                  <span class="text-validar"><b>Monto del premio:</b> {{montoTicket}}</span>
                </CCol>
                </CRow>
              </CCol>
              <div v-if="estPagoPremio === '1'" class="row col-sm-12">
                <CCol sm="12" class="mt-3">
                  <CRow>
                    <CCol sm="6">
                      <CButton color="success" @click="pagar_data()">
                        <CIcon name="cil-check-circle" />&nbsp; PAGAR
                      </CButton>
                    </CCol>
                    <CCol sm="6">
                      <CButton color="danger" @click="$router.go(-1)">
                        CANCELAR
                      </CButton>
                    </CCol>
                  </CRow>
                </CCol>
              </div>
              <div v-else class="row col-sm-12">
                 <CCol sm="12" class="mt-3">
                  <CButton color="danger" @click="$router.go(-1)">
                    SALIR
                  </CButton>
              </CCol>
              </div>
            </div>
            <!-- AQUI VA EL V-ELSE -->
            <div v-else class="row col-sm-12">
              <CCol sm="12" class="text-center mb-4 mt-3">
                <h3><b>TICKET MILLONARIO</b></h3>
              </CCol>
              <CCol sm="12">
                <CRow>
                  <CCol sm="6" class="text-center mb-3">
                    <span class="text-validar"><b>Sección: </b>{{seccion}}</span>
                </CCol>
                  <CCol sm="6" class="text-center  mb-3">
                    <span class="text-validar"><b>Mensaje: </b>{{mensajeInformativo}}</span>
                  </CCol>
                </CRow>
              </CCol>
              <CCol sm="12" class="mt-3">
                <CButton color="danger" @click="$router.go(-1)">
                  SALIR
                </CButton>
              </CCol>
            </div>
          </CRow>
        </CCardBody>
      </CCol>
    </CCard>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";

function pagar_data() {
  let self = this;
  self.Loading = true;
  let tokenUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSesion = localStorage.getItem("tokenSistema");
  const codigo_operador = window.btoa(self.obj_operador);
  const serial_ticket = window.btoa(self.obj_serial);
  const codigoAplicacion = window.btoa("01");

  let listado = [];
  axios
    .post(
      this.$apiAdress + "PagarTicket",
      {
        tokenUsuario: tokenUsuario,
        codigoOperadora: codigo_operador,
        serialTicket: serial_ticket,
        codigoAplicacion: codigoAplicacion,
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      if(response.data.mensaje.code === "000"){
        listado = response;
        self.producto = listado.data.datos.producto;
        self.sitioPagoMillonario = listado.data.datos.sitioPagoMillonario;
        self.obj_pagar = {
          producto: self.producto,
          sitioPagoMillonario: self.sitioPagoMillonario,
          serial: self.obj_serial,
          Operator_code: self.obj_operador,
          direccionSitio:self.direccionSitio,
          sorteo:self.sorteo,
          fechaSorteo:self.fechaSorteo,
          seccion:self.seccion,
          montoTicket: self.montoTicket,
          mensajeInformativo:self.mensajeInformativo,
          estatusMillonario:self.estatusMillonario,
          estPagoPremio:self.estPagoPremio,
        };
        self.$router.push({ name: "comprobante", params: { obj: self.obj_pagar } });
      }else{
        console.log("cosas malas pagar");
      }
    })
    .catch(function (error) {
      console.log("error catch", error);
      self.Loading = false;
    });
}

function data() {
  return {
    obj_serial: "",
    obj_operador: "",
    // obj_sorteo: "",
    direccionSitio:"",
    sorteo:"",
    fechaSorteo:"",
    seccion:"",
    montoTicket:"",
    sitioPagoMillonario:"",
    mensajeInformativo:"",
    estatusMillonario:"",
    estPagoPremio:"",

    // VARIABLES
    Loading: false,
  };
}

export default {
  mixins: [General],
  name: "index",
  data,
  computed: {},
  methods: {
    pagar_data,
  },
  mounted: function () {
    console.log("entro en el on");

    let listado = [];
    listado = this.$route.params;
    console.log("adali", listado);
    this.sorteo = listado.obj.sorteo;
    this.direccionSitio = listado.obj.direccionSitio;
    this.fechaSorteo = listado.obj.fechaSorteo;
    this.seccion = listado.obj.seccion;
    this.montoTicket = listado.obj.montoTicket;
    this.sitioPagoMillonario = listado.obj.sitioPagoMillonario,
    this.mensajeInformativo = listado.obj.mensajeInformativo;
    this.estatusMillonario = listado.obj.estatusMillonario;
    this.estPagoPremio = listado.obj.estPagoPremio;
    this.obj_serial = window.atob(listado.obj.serial);
    this.obj_operador = window.atob(listado.obj.Operator_code);
  },
};
</script>

<style>
.text-validar {
  font-size: 20px;
}
</style>
