<template>
  <div>
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <b>COMIENZA A RASPAR</b>
      </CCardHeader>
      <CCol sm="12" class="text-center">
        <CCardBody class="overflow-auto the-scratchable-container-wrapper">
          <scratchTicket
            :ticketImg="theTicketImg"
            :imageUrl="theImages"
            :ticketData="theData"
          />
        </CCardBody>
      </CCol>
    </CCard>
  </div>
</template>

<script>
import scratchTicket from '@/components/scratch-ticket.vue';
import General from "@/_mixins/general";

function data() {
  return {
    theTicketImg: null,
    theImages: [],
    theData: null,
  };
}

export default {
  name: "index",
  mixins: [General],
  components: { scratchTicket },
  data,
  mounted: function () {
    // MIENTRAS TANTO
    const losDatos = {
        "codigoSorteo": "MDAy",
        "estatusInstantaneo": "0",
        "estatusParMil": "0",
        "estatusSuperDup": "0",
        "estatusTripleTer": "0",
        "fechaCompra": 1638996316,
        "fechaSorteo": 1638996272,
        "instantaneo": "MTIzNDU2Nzg5",
        "montoCarton": 5,
        "numeroFactura": "MTIzNDU2Nzg5MQ==",
        "parMillonarioA": "NjE4U0VJU0NJRU5UT1MgRElFQ0lPQ0hP",
        "parMillonarioB": "NTkyUVVJTklFTlRPUyBOT1ZFTlRBIFkgRE9T",
        "superDupleta1": "MzMzNDQ0",
        "superDupleta2": "NDQ0NTU1",
        "superDupleta3": "NTU1NjY2",
        "tripleAbierto": "MTIx",
        "tripleTerminalA": "ODU=",
        "tripleTerminalB": "NTY=",
        "tripleTerminalC": "NzM=",
        "urlSorteo": "http://192.168.200.226:8041/002",
        "colorBorde": null
    };
    //
    const ticket = this.getTicketData(losDatos);
    this.theTicketImg = ticket.image;
    this.theImages = ticket.images;
    this.theData = ticket.ticket;
  }
};
</script>

<style lang="scss" scoped>
</style>
