<template>
  <div>
    <playmodal
      :actualizarTickets="search_register"
      :modal="VerModal"
      :cerrarModal="cerrarModal"
    />
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CCard>
      <CCardHeader class="text-center botonesP text-white">
        <h3><b>MIS TICKETS</b></h3>
        <span>¡Acá podrás ver tus Tickets!</span>
      </CCardHeader>
      <CCol sm="12" class="pt-4 mb-4">
        <DateComponent :isRequiredTypeMov="false" :valoresDate="search_register" :valoresclean="Cancelar" />
        <CCol sm="12" class="text-center">
          <CDataTable
            :items="itemsFiltered"
            :fields="fieldsTicket"
            :loading="isLoading"
            column-filter
            :items-per-page="8"
            :noItemsView="tableText.noItemsViewText"
            :items-per-page-select="tableText.itemsPerPageText"
            hover
            small
            sorter
            pagination
          >
            <template #fechaSorteo-filter>
              <input 
                class="form-control form-control-sm hola"
                v-model="datafechaSorteo"
              >
            </template>
            <template #fechaSorteo="{ item: { fechaSorteoShown } }">
              <td>
                {{ fechaSorteoShown }}
              </td>
            </template>
            <template #fechaCompra-filter>
              <input 
                class="form-control form-control-sm hola"
                v-model="datafechaCompra"
              >
            </template>
            <template #fechaCompra="{ item: { fechaCompraShown } }">
              <td>
                {{ fechaCompraShown }}
              </td>
            </template>
            <template #status="{ item }">
              <td>
                <CBadge :color="getBadge(item.status)">{{ item.status }}</CBadge>
              </td>
            </template>
            <template #Detalle="{ item }">
              <td class="py-2">
                <CButton class="w-100" :color="item.estatusRaspado ? 'info' : 'success'" @click="getCarton(item)">{{item.estatusRaspado ? 'Ver' : 'Jugar'}}</CButton>
              </td>
            </template>
          </CDataTable>
        </CCol>
      </CCol>
    </CCard>
  </div>
</template>
<script>
import General from "@/_mixins/general";
import playmodal from "./play-modal";
import axios from "axios";
import { DateFormater } from "@/_helpers/funciones";
import DateComponent from "@/components/date-filter.vue";

const tableTextHelpers = {
  tableFilterText: {
    label: "FILTRAR:",
    placeholder: "TICKET",
  },
  itemsPerPageText: {
    label: "Tickets por Página:",
  },
  noItemsViewText: {
    noResults: "NO SE ENCONTRARON RESULTADOS",
    noItems: "NO HAY TICKETS DISPONIBLES",
  },
};
const fieldsTicket = [
  { key: "codigoSorteoShown", label: "Número de sorteo" },
  { key: "fechaSorteo", label: "Fecha del sorteo" },
  { key: "numeroFacturaShown", label: "Número de factura" },
  { key: "montoCarton", label: "Monto del cartón" },
  { key: "fechaCompra", label: "Fecha de compra" },
  {
    key: "Detalle",
    label: "",
    sorter: false,
    filter: false,
  },
];

function Cancelar() {
  this.items = [];
}

function data() {
  const date = new Date();
  return {
    items: [],
    tableText: Object.assign({}, tableTextHelpers),
    VerModal: false,
    start: null,
    end: null,
    start_date: new Date(),
    end_date: new Date(),
    isLoading: false,
    Loading: false,
    datafechaSorteo: '',
    datafechaCompra: '',
  };
}

function search_register(val = null) {
  this.items = [];
  let listado = [];
  let tokUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSistema = localStorage.getItem("tokenSistema");
  
  if (val) {
    this.start = val.start_date.toString();
    this.end = val.end_date.toString();
    
    this.end = (new Date(this.end).getTime() + 14400000) / 1000;
    this.start = (new Date(this.start).getTime() + 14400000) / 1000;
  }
  
  let self = this;
  self.isLoading = true;
  axios
    .get(
      self.$apiAdress +
        "ConsultarCartones" +
        "/" +
        tokUsuario +
        "/" +
        "MDE=" +
        "/" +
        self.start +
        "/" +
        self.end,
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSistema,
        },
      }
    )
    .then(function (response) {
      console.log(response);
      listado = [...response.data.datos];
      console.log("que tiene listado", listado);

      self.items = listado.map((listado) =>
        Object.assign({}, self.items, {
          codigoSorteo: listado.codigoSorteo,
          fechaCompra: listado.fechaCompra,
          fechaSorteo: listado.fechaSorteo,
          montoCarton: listado.montoCarton,
          numeroFactura: listado.numeroFactura,
          estatusRaspado: +listado.estatusRaspado,
        })
      );
      self.isLoading = false;
    })
    .catch(function (err) {
      console.error(err);
      self.isLoading = false;
      console.log(err);
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

async function getCarton (item) {
  const self = this;
  this.Loading = true;
  const tokUsuario = sessionStorage.getItem("tokenUsuario");
  const tokenSistema = localStorage.getItem("tokenSistema");
  const url = `${this.$apiAdress}DetalleCarton/${tokUsuario}/MDE=/${item.numeroFactura}/${item.codigoSorteo}/${item.fechaCompra}`;

  const request = async () => {
    try {
      const resp = await axios.get(
          url,
          { headers: { Authorization: "Bearer " + tokenSistema } }
        );
      return resp;
      // return true;
    } catch (err) {
      console.error(err);
      self.Loading = false;
      self.VerModal = false;
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
      return null;
    }
  };

  const request_ = await request(); 

  if (request_) {
    this.Loading = false;
    if (request_.data?.mensaje?.code === '000' && request_.data?.datos) {
      const data_ = request_.data.datos;
      const item_ = {
        ...item,
        estatusInstantaneo: data_.estatusInstantaneo,
        estatusParMil: data_.estatusParMil,
        estatusSuperDup: data_.estatusSuperDup,
        estatusTripleTer: data_.estatusTripleTer,
        instantaneo: data_.instantaneo,
        parMillonarioA: data_.parMillonarioA,
        parMillonarioB: data_.parMillonarioB,
        superDupleta1: data_.superDupleta1,
        superDupleta2: data_.superDupleta2,
        superDupleta3: data_.superDupleta3,
        tripleAbierto: data_.tripleAbierto,
        tripleTerminalA: data_.tripleTerminalA,
        tripleTerminalB: data_.tripleTerminalB,
        tripleTerminalC: data_.tripleTerminalC,
        urlSorteo: data_.urlSorteo,
        colorBorde: data_.colorBorde || null
      };
      this.VerModal = item_;
    }
  }
}

function getBadge(status) {
  return status === "Activo"
    ? "success"
    : status === "Inactivo"
    ? "danger"
    : status === "Pending"
    ? "warning"
    : status === "Banned"
    ? "danger"
    : "primary";
}

function VerPlay(item) {
  console.log(item);
  this.$router.push({ path: "play" });
  this.$bus.$emit("data", item);
}

function winDCodr(dcodr, codigo) {
  return window[dcodr](codigo);
}

function dateFormatr(dateStr) {
  return DateFormater.DateFormaterEpoch(dateStr);
}

function cerrarModal() {
  this.VerModal = false;
}

export default {
  name: "index",
  mixins: [General],
  data,
  components: {
    playmodal,
    DateComponent,
  },
  computed: {
    itemsComputed () {
      return this.items.map(item => {
        return {
          ...item,
          codigoSorteoShown: this.winDCodr('atob', item.codigoSorteo),
          numeroFacturaShown: this.winDCodr('atob', item.numeroFactura),
          fechaSorteoShown: this.dateFormatr(item.fechaSorteo),
          fechaCompraShown: this.dateFormatr(item.fechaCompra),
        }
      })
    },
    itemsFiltered () {
      return this.itemsComputed.filter(item => {
        return (!this.datafechaSorteo && !this.datafechaCompra) ||
               (!this.datafechaCompra && this.datafechaSorteo && item.fechaSorteoShown.includes(this.datafechaSorteo)) ||
               (!this.datafechaSorteo && this.datafechaCompra && item.fechaCompraShown.includes(this.datafechaCompra)) ||
               (item.fechaSorteoShown.includes(this.datafechaSorteo) && item.fechaCompraShown.includes(this.datafechaCompra))
      })
    }
  },
  methods: {
    search_register,
    getBadge,
    VerPlay,
    Cancelar,
    winDCodr,
    dateFormatr,
    getCarton,
    cerrarModal,
  },
  props: {
    fieldsTicket: {
      type: Array,
      default() {
        return fieldsTicket;
      },
    },
  },
};
</script>