<template>
  <div>
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="10">
          <CCardHeader class="text-center botonesP text-white">
            <h3><b>PAGO CON PAYPAL</b></h3>
          </CCardHeader>
          <CCard>
            <div ref="paypal"></div>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
export default {
  name: "paypal",
  data: function () {
    return {
      loaded: false,
      paidFor: false,
      product: {
        price: 777.77,
      },
    };
  },
  mounted: function () {
    const script = document.createElement("script");
    script.src =
      "https://www.paypal.com/sdk/js?client-id=Ae9OumIj59jBg2HcqsI24OfyQLKEiYI6PRMMaVC7-fzo5-TKEHUl2MdJgTJ8zSVeFxfI8pV5DVywSp9q";
    script.addEventListener("load", this.setLoaded);
    document.body.appendChild(script);
    $(".paypal-powered-by").hide();
  },
  methods: {
    setLoaded: function () {
      this.loaded = true;
      window.paypal
        .Buttons({
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [
                {
                  description: "PAGO TRIPLE|GORDO",
                  amount: {
                    currency_code: "USD",
                    value: 5,
                  },
                },
              ],
              application_context: {
                shipping_preference: "NO_SHIPPING",
              },
            });
          },
          onCancel: function (data) {
            console.log('que tiene la data si cancela',data);
          },
          onApprove: async (data, actions) => {
            const order = await actions.order.capture();
            this.paidFor = true;
            return actions.order.capture().then(function (details) {
              // This function shows a transaction success message to your buyer.
              alert(
                "Transaction completed by " + details.payer.name.given_name
              );
              console.log("que tiene details", details);
            });
            console.log("ORDEN", order);
            console.log("DATA", data);
            console.log("actions", actions);
          },
          onError: (err) => {
            console.log("error", err);
          },
        })
        .render(this.$refs.paypal);
    },
  },
};
</script>
