<template>
  <div class="text-center">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CModal
      :closeOnBackdrop="false"
      color="dark"
      size="lg"
      :show.sync="VerModal_"
    >
      <template #header>
        <h5 class="modal-title">{{tituloModal}}</h5>
        <button type="button" aria-label="Close" class="close" @click="CerrarLimpiar">×</button>
      </template>
      <CCard>
        <CCardBody class="overflow-auto the-scratchable-container-wrapper">
          <scratchTicket
            v-if="VerModal_"
            :ticketImg="theTicketImg"
            :imageUrl="theImages"
            :ticketData="theData"
            :actualizarPadre="actualizarTickets"
          />
        </CCardBody>
      </CCard>
      <template #footer>
        <CButton color="dark" @click="CerrarLimpiar">
          <CIcon name="cil-chevron-circle-left-alt" />&nbsp; SALIR
        </CButton>
      </template>
    </CModal>
  </div>
</template>
<script>
import scratchTicket from '@/components/scratch-ticket.vue';
import General from "@/_mixins/general";

function CerrarLimpiar() {
  this.VerModal_ = false;
  this.cerrarModal();
}

function cleanTitle() {
  this.tituloModal = "TICKET";
}

//DATA
function data() {
  return {
    // VARIABLES
    VerModal_: false,
    Loading: false,
    tituloModal: "TICKET",
    theTicketImg: null,
    theImages: [],
    theData: null,
  };
}

export default {
  name: "play-modal",
  mixins: [General],
  components: { scratchTicket },
  data,
  methods: {
    CerrarLimpiar,
    cleanTitle,
  },
  props: {
    modal: null,
    actualizarTickets: Function,
    cerrarModal: Function,
  },
  watch: {
    modal: function () {
      if (this.modal) {
        this.VerModal_ = true;
        this.tituloModal = this.tituloModal + "   " + window.atob(this.modal.numeroFactura);
        // this.$emit("cerrarModal");
        console.log(this.modal);
        const ticket = this.getTicketData(this.modal);
        this.theTicketImg = ticket.image;
        this.theImages = ticket.images;
        this.theData = ticket.ticket;
      }
    },
    VerModal_: function(val) {
      if (!val) this.cleanTitle();
    },
  }
};
</script>
<style scoped>
.custom-cursor {
  cursor: pointer;
}
</style>
