<template>
  <div class="col-md-4" style="margin: auto;">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CCard>
      <div ref="testHtml">
        <CCardHeader class="text-center botonesP text-white">
          <h3 class="titulo-comprobante"><b>COMPROBANTE DE PAGO</b></h3>
        </CCardHeader>
        <CCol sm="12" class="text-center">
          <CCardBody>
            <CRow class="mt-2">
              <!-- <CCol sm="12">
                <span><b>Fecha de Pago:</b>{{ Operator_code }}</span>
              </CCol> -->
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Centro de Apuesta: </b>{{ sitioPagoMillonario }}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Nro de Sorteo:</b> {{producto}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Fecha Sorteo:</b> {{fechaSorteo}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Producto:</b> {{producto}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Serial: </b>{{serial_pagar}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Código operadora: </b>{{Operator_code}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Sección Ganadora:</b> {{seccion}}</span>
              </CCol>
              <CCol sm="12 mt-1">
                <span class="font-comprobante"><b>Monto del Premio:</b> {{montoTicket}}</span>
              </CCol>
              <!-- <CCol sm="12 mt-3">
                <CButton color="success" @click="createPDF">
                  <CIcon name="cil-check-circle" />&nbsp; IMPRIMIR
                </CButton>
              </CCol> -->
            </CRow>
          </CCardBody>
        </CCol>
      </div>
      <div>
        <CCol sm="12 mt-3 mb-5" class="text-center">
          <CButton color="success" @click="createPDF">
            <CIcon name="cil-check-circle" />&nbsp; IMPRIMIR
          </CButton>
        </CCol>
      </div>
    </CCard>
  </div>
</template>

<script>
import { jsPDF } from "jspdf";

function data() {
  return {
    //Variables
    Operator_code: "",
    serial: "",
    producto: "",
    serial_pagar:"",
    sitioPagoMillonario:"",
    fechaSorteo:"",
    seccion:"",
    montoTicket:"",
    Loading: false,
    // iframe: null,
  };
}

//Funcion que imprime el PDF
function createPDF() {
  let self = this;
  console.log("html", self.$refs.testHtml);
  var doc = new jsPDF("p", "pt", "legal");
  self.Loading = true;
  doc.html(this.$refs.testHtml, {
    callback: function (doc) {
      self.Loading = false;
      // try {
      //   if (self.iframe) self.iframe.remove();
      //   const blob = doc.output('bloburl');
      //   self.iframe =  document.createElement('iframe');
      //   document.body.appendChild(self.iframe);

      //   self.iframe.style.display = 'none';
      //   self.iframe.onload = function() {
      //     setTimeout(function() {
      //       self.iframe.focus();
      //       self.iframe.contentWindow.print();
      //     });
      //   };
      //   self.iframe.src = blob;
      // } catch (err) {
        doc.save("Comprobante.pdf"); 
      // }
    },
    x: 70,
    y: 40,
  });
}

export default {
  name: "comprobante",
  data,
  methods: {
    createPDF,
  },
  mounted: function () {
    let listado = [];
    listado = this.$route.params;
    console.log("listado",listado)
    if (listado) {
      this.serial_pagar = listado.obj.serial;
      this.Operator_code = listado.obj.Operator_code;
      this.producto = listado.obj.producto;
      this.sitioPagoMillonario = listado.obj.sitioPagoMillonario;
      this.fechaSorteo = listado.obj.fechaSorteo;
      this.seccion = listado.obj.seccion;
      this.montoTicket = listado.obj.montoTicket;
    } else this.$router.go(-1);
  },
};
</script>

<style scoped>
.titulo-comprobante{
  font-size:20px !important; 
}
.font-comprobante{
  font-size: 15px;
}
</style>