<template>
  <div>
    <CCol sm="12" class="pt-4 mb-4">
      <CRow class="form-color-blue">
        <CCol sm="4" v-if="isRequiredTypeMov">
          <CSelect
            addLabelClasses="required"
            label="Tipo de Movimiento:"
            :value.sync="select"
            :options="options_select"
            @change="change_r($event)"
          >
          </CSelect>
        </CCol>
        <CCol :xl="isRequiredTypeMov ? '4' : '4'"
              :sm="isRequiredTypeMov ? '4' : '6'">
          <label class="mr-2" for="start_date"> Fecha Desde:</label>
          <VueDatePicker
            :min-date="minDate"
            :max-date="maxDate"
            v-model="start_date"
            :color="color"
            @onChange="changedate"
          />
        </CCol>
        <CCol  class="margin-top-date"
              :xl="isRequiredTypeMov ? '4' : '4'"
              :sm="isRequiredTypeMov ? '4' : '6'">
          <label class="mr-2" for="end_date"> Fecha Hasta:</label>
          <VueDatePicker
            :disabled="isDisabledDate"
            :min-date="minDatef"
            :max-date="maxDate"
            v-model="end_date"
            :color="color"
            @onChange="changedate"
          />
        </CCol>
        <CCol
          :xl="isRequiredTypeMov ? '12' : '4'"
          :sm="isRequiredTypeMov ? '12' : '12'"
          class="d-flex botones-tabla"
        >
          <CButton
            :disabled="isDisabled"
            @click="search_register"
            class="mr-4"
            color="success"
          >
          <!-- <span class="text-btn"></span> -->
            <CIcon name="cilSearch" />&nbsp; CONSULTAR
          </CButton>
          <CButton @click="Cancelar" class="ml-4" color="danger">
            <CIcon name="cilXCircle" />&nbsp; CANCELAR
          </CButton>
        </CCol>
      </CRow>
    </CCol>
  </div>
</template>

<script>
import General from "@/_mixins/general";
import axios from "axios";
import movVal from "@/_validations/procesarMov/procesarMovVal";

//val-date
function changedate() {
  this.minDatef = this.start_date;
  this.isDisabledDate = false;
  console.log("que tiene start_data", this.start_date);
}

//COMPUTED
function isDisabled() {
  if(this.isRequiredTypeMov == true){
  return this.$v.$invalid;
  }
}

//FUNCTION QUE PASA POR PROPS LOS DATOS
function search_register() {
  this.valoresDate({
    end_date: this.end_date,
    start_date: this.start_date,
    selectVal: this.select,
  });
}

//CAPTURA EL VALOR DEL SELECT
function change_r(event) {
  this.select = event.target.value;
  console.log("select", this.select);
  this.valSelect = this.select;
}

//FUNCTION LIMPIA LOS DATOS
function Cancelar() {
  this.valoresclean({
    start_date: new Date(),
    end_date: new Date(),
    
  });
}

//data
function data() {
  const date = new Date();
  return {
    VerModal: false,
    start_date: new Date(),
    end_date: new Date(),
    color: "#1152D1",
    maxDate: `${date}`,
    minDate: `${date.getFullYear() - 1}-1`,
    isLoading: false,
    minDatef: `${date.getFullYear() - 1}-1`,
    isDisabledDate: true,
    select: "",
    options_select: [{ label: "SELECCIONE", value: null }],
  };
}

function listTipoMovimiento() {
  let self = this;
  self.Loading = true;
  const tokenSistema = localStorage.getItem("tokenSistema");
  axios
    .get(self.$apiAdressCobranza + "ListarTipoMovimiento/MA==", {
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + tokenSistema,
      },
    })
    .then(function (response) {
      console.log("trae el responsive", response);
      if (
        response?.data?.message?.code === "000" ||
        response?.data?.mensaje?.code === "000"
      ) {
        if (response.data.datos?.length) {
          const options_select_ = response.data.datos.map((dto) => {
            return { label: `${dto.descripcion}`, value: dto.codigoTipo };
          });
          self.options_select = [
            { label: "SELECCIONE", name: null },
            ...options_select_,
          ];
        }
      }
      self.Loading = false;
    })
    .catch(function (err) {
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      self.Loading = false;
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}
export default {
  name: "date-filter",
  data,
  mixins: [General],
  validations: movVal,
  methods: {
    changedate,
    search_register,
    Cancelar,
    listTipoMovimiento,
    change_r,
  },
  computed: {
    isDisabled,
  },
  props: {
    valoresDate: Function,
    valoresclean: Function,
    isRequiredTypeMov: Boolean,
  },
  mounted() {
    if (this.isRequiredTypeMov == true) {
      this.listTipoMovimiento();
    }
  },
};
</script>

<style scoped>
.vd-wrapper {
  text-align: center;
}
</style>
