<template>
  <div class="all-scratch-container mx-auto" v-bind:style="getWH()">
    <div class="w-100">
      <div class="slidecontainer">
        <span>Zoom: </span>
        <input type="range" min="1" :max="theMax" v-model="sliderRange" class="slider" id="sliderRange">
        <span v-if="appearThis(false, true)" class="warning-span">Para poder raspar no debes hacer zoom</span>
      </div>
    </div>
    <div class="card-principal" v-bind:style="{
      transform: transformStr
    }">
      <div v-if="appearThis()" class="non-scratchable-el w-100 h-100"></div>
      <img
          v-if="ticketImg"
          :src="ticketImg"
          height="500"
          width="288"
          alt="card"
      />
      <template v-if="imageUrl.length && ticketData && ticketData.scratches && ticketData.scratches.length">
        <div 
            v-for="(itm, indx) in ticketData.scratches" :key="indx"
            :class="'card-triple-gordo n-'+(indx+1)"
            v-on:mousedown.left="mouseover(true, indx)"
            v-on:mouseenter="mouseover(true, indx)"
            v-on:touchstart="mouseover(true, indx, true)"
            v-on:mouseup="mouseover(false, indx)"
            v-on:mouseleave="mouseover(false, indx)"
            v-on:touchend="mouseover(false, indx, true)"
        >
            <vue-scratchable
              getPercentageCleared
              @percentage-update="updatePoints($event, indx)"
              :brushOptions="brush"
              :hideOptions="getHide(!imageUrl[indx])"
              :class="'custom-cursor ctg-scratch n-'+(indx+1)"
            >
              <div :class="'text-black grid-oriented n-'+(indx+1)">
                <template v-if="(indx + 1) === 1">
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">TRIPLE A</span> --><h2>{{itm.pm11}}</h2><!-- <span class="second">{{itm.pm12}}</span> --></div>
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">TRIPLE B</span> --><h2>{{itm.pm21}}</h2><!-- <span class="second">{{itm.pm22}}</span> --></div>
                </template>
                <template v-else-if="(indx + 1) === 2">
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">A</span> --><h2>{{itm.tt1}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">B</span> --><h2>{{itm.tt2}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><!-- <span class="first">C</span> --><h2>{{itm.tt3}}</h2></div>
                </template>
                <template v-else-if="(indx + 1) === 3">
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd11}}</h2><h2>{{itm.sd12}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd21}}</h2><h2>{{itm.sd22}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.sd31}}</h2><h2>{{itm.sd32}}</h2></div>
                </template>
                <template v-else>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i11}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i12}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i13}}</h2></div>
                  <!-- . -->
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i21}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i22}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i23}}</h2></div>
                  <!-- . -->
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i31}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i32}}</h2></div>
                  <div :class="'digts-container n-'+(indx+1)"><h2>{{itm.i33}}</h2></div>
                </template>
              </div>
            </vue-scratchable>
        </div>
      </template>
      <div v-if="ticketData && ticketData.code && ticketData.code.length" class="ticket-code-highlight">
        <h2 v-for="(code, inxd) in ticketData.code" :key="inxd">{{code}}</h2>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";
var audio = new Audio(require("@/assets/scratch.wav"));

function data() {
  return {
    borderColor: '', //#15181d
    theMax: 4,
    transformStr: 'translateY(0.1rem) scale(1)',
    sliderRange: 1,
    timerOut: null,
    images: [null, null, null, null], // replace canvas fill color with img
    playing: 0, // current scratch item index, tells which one is playing the audio
    touchedPos: null, // current touched scratch item
    isKeyUp: false, // indicates if mouse left key is Up
    percentage: [[0,0], [0,0], [0,0], [0,0]], // scratch items array indicating Scratched percentage and Scratch complete
    brush: {
      size: 20,
      shape: "bevel",
    },
    cardWidth: [187, 103.8, 195.7, 109.5],
    cardHeight: [33, 29.5, 40, 80],
    finishPercent: 75,
    requesting: [false, false, false, false],
    ticketsCode: ['EST04', 'EST01', 'EST02', 'EST03'],
  };
}

// METHODS
function getHide(isTransparent = false) {
  const self = this;
  return {
      type: "color",
      value: isTransparent ? `${self.borderColor}00` : self.borderColor,
    };
}

function getWH() {
  const translateY = this.appearThis(true);
  const evaluator = 'translateY(0.1rem) scale(1)';
  const obj = {
    width: this.transformStr === evaluator ? '18rem' : `${18 + translateY}rem`,
    height: this.transformStr === evaluator ? '32rem' : `${32 + translateY}rem`
  };
  return obj 
}

function appearThis(getNums = false, control = false) {
  if (control) {
    const theresImg = this.images.some(img => img);
    if (!theresImg) return false;
  }

  const theTransformation = this.transformStr;
  let [translateY, scale] = theTransformation.split(' ');
  const getNum = (str, rplc, n) => +(str.replace(rplc, '').slice(0, -n));
  translateY = getNum(translateY, 'translateY(', 4);
  scale = getNum(scale, 'scale(', 1);
  if (!getNums) {
    const shouldDo = translateY > 2.69 && scale > 1.18;
    return shouldDo;
  }
  else return translateY
}

function setTransformStr (num) {
  const num_len = `${num}`.length;
  const num_tot = num_len > 1 ? +`1${Array(num_len - 1).fill(0).join('')}` : 1;
  const num_ = num / num_tot;
  const n_ = (max, min, n) => (((((max - 1) * 100) / (1.99 - 1)) * n) / 100) + min;
  const transformation = num_ > 1.99 ? `translateY(${14 * (num_ - 1)}rem) scale(${num_})` : `translateY(${n_(num_, 0.1, (14 - 0.1))}rem) scale(${n_(num_, 1, (2 - 1))})`;
  this.transformStr = transformation;
}

// this method loads images to replace default scratch canvas fill color
function loadImages(list){
  let self = this;

  const imager = (i, img) => {
    const canvContainer = document.querySelector(`.ctg-scratch.n-${i+1}`);
    if (canvContainer) {
        const child = canvContainer.querySelector(`canvas`);
        if (child) {
            const ctx = child.getContext("2d");
            ctx.drawImage(img, 0, 0, self.cardWidth[i], self.cardHeight[i]);
            self.images[i] = img;
        }
    }
  };

  for(let i = 0; i < list.length; i++){
      if (!self.images[i]) {
        if (list[i]) {
          const img = new Image();
          img.onload = function(){
              imager(i, img);
          }; 
          img.src = list[i];
        }           
      } else imager(i, self.images[i]);
  }
}

function playAudio (on) {
  if (on) {
    audio.loop = true;
    audio.volume = 0.5;
    audio.play();
  } else {
    audio.loop = false;
    audio.pause();
    audio.currentTime = 0;
  }
}

// controls mouse and touch interactions with scratchable items
/**
 * @param {boolean} control indicates if can play audio
 * @param {int} indx indicates scratchable item position
 * @param {boolean} mobile indicates if it's a touch event
 */
function mouseover(control = false, indx, mobile = false) {
  if (
      this.imageUrl[indx] &&
      this.isKeyUp &&
      (this.playing === (indx + 1) || !this.playing) && 
      control && 
      this.percentage[indx][0] < (this.finishPercent + 22)
  ) {
      this.playing = (indx + 1);
      if (mobile) {
        const theScratch = document.querySelector(`.ctg-scratch.n-${indx+1}`);
        if (theScratch) this.touchedPos = theScratch.getBoundingClientRect();
      }
      this.playAudio(true);
  } else if (!audio.paused) {
      if (!this.isKeyUp) {
        this.playing = 0;
        if (mobile) this.touchedPos = null;
      }
      this.playAudio(false);
  }
}

const axiosRequest = async ({self = null, method, url, data = null, handleError = false, headers = null, indice}) => {
    try {
        const resp = await axios({
            method,
            url,
            ...( data ? { data } : {}),
            ...( headers ? { headers } : {}),
          });
        return resp;
    } catch (err) {
        console.error(err);
        self.requesting[indice] = false;
        if (handleError) {
          const msg = err?.response?.data?.message?.description || err?.responseJSON?.message?.description || err?.responseJSON?.mensaje?.description || err?.response?.statusText || '';
          if (msg)
            self.$swal.fire({
              position: "top-end",
              toast: true,
              icon: "warning",
              title: msg,
              showConfirmButton: false,
              timer: self.getMsgSeconds(msg),
              timerProgressBar: true,
            });
          else self.globalError(true);
          if (err.response?.data?.message?.code === "008") self.clearSession();
        }
        return  false;
    }
};

// shows winner alert when scratch complete
function updatePoints(percentage, indx) {
  this.percentage[indx][0] = percentage;
  if (
    !this.requesting[indx] && 
    this.imageUrl[indx] && 
    !this.percentage[indx][1] && 
    this.percentage[indx][0] >= this.finishPercent
  ) {
    clearTimeout(this.timerOut);
    const tokenUser = sessionStorage.getItem('tokenUsuario');
    const tokenSesion = localStorage.getItem("tokenSistema");
    this.requesting[indx] = true;

    let self = this;
    this.timerOut = setTimeout(async () => {
      const response = await axiosRequest({
        self: self,
        method: 'put', 
        url: self.$apiAdress + 'ActualizarRaspado', 
        data: {
          tokenUsuario: tokenUser,
          codigoAplicacion: "MDE=",
          numeroFactura: self.ticketData.numeroFactura,
          codigoSeccion: window.btoa(self.ticketsCode[indx]),
          numeroSorteo: self.ticketData.numeroSorteo,
        },
        handleError: false,
        headers: {
          Authorization: "Bearer " + tokenSesion,
        },
        indice: indx,
      });

      if (response) {
        if (self.actualizarPadre) self.actualizarPadre();
        self.percentage[indx][1] = 1;
        console.log("response", response);
        self.requesting[indx] = false;

        if (response?.data?.mensaje?.code === "000") {
          if (response.data?.datos?.valor) {
            self.$swal.fire({
              title: '¡Felicidades!',
              html: `<p>${response.data.mensaje.description}</p>`,
              width: 600,
              padding: "0em",
              background: "#fff0",
              backdrop: `                  
                  url("../../giphy2.gif")
                  center / cover
                  no-repeat
                  rgba(1, 6, 74, 0.75)
              `,
              customClass: {
                title: 'winner-alert-title',
                htmlContainer: 'winner-alert-html',
                confirmButton: 'btn btn-primary winner-alert-btn',
              }
            });
            self.globalConsultarSaldo(false, true);
          }
        }
      }  
    }, 1500);
    
    // this.mouseover(false, indx);
  }
}

// MOUNTED
function mounted () {
  const self = this;
  if (self.ticketData?.borderColor) self.borderColor = self.ticketData.borderColor;
  $(document).ready(function(){
    self.loadImages(self.imageUrl);

    // adds event listeners
      $('.ctg-scratch').on("mousedown touchstart", function () {
          if (self.isKeyUp !== undefined) self.isKeyUp = true;
      });

      // if mouse left key is up none scratchable item is playing the audio
      $('body, .ctg-scratch').on("mouseup touchend", function () {
          if (self.isKeyUp !== undefined) {
              self.isKeyUp = false;
              self.playing = 0;
          }
      });

      // when mobile it captures if touch position is over current on-scratching scratchable item to play or stop the audio
      $('body').on("touchmove", function (e) {
          const touch = e?.originalEvent?.touches[0] || e?.originalEvent?.changedTouches[0];
          const x = touch.pageX, y = touch.pageY;
          if (self.touchedPos) {
            if ( 
              x >= self.touchedPos?.left && 
              x <= self.touchedPos?.right && 
              y >= self.touchedPos?.top && 
              y <= self.touchedPos?.bottom 
            )
              self.playAudio(true); 
            else 
              self.playAudio(false);
          }
      });

      // resets images on canvas to refill them, due to problem when resizing screen
      $(window).on('resize', function () {
          setTimeout(() => self.loadImages(self.imageUrl),1000);
      });
  });
}

export default {
  name: "scratch-ticket",
  mixins: [General],
  data,
  props: {
    ticketImg: [String, Object],
    ticketData: Object, // scratchable items object data
    imageUrl: Array, // images to replace default scratchable canvas fill color
    actualizarPadre: Function,
  },
  methods: {
    getHide,
    playAudio,
    mouseover,
    updatePoints,
    loadImages,
    setTransformStr,
    appearThis,
    getWH,
  },
  watch: {
    sliderRange(val) {
      this.setTransformStr(val);
    }
  },
  destroyed() {
    // removes event listeners
    $('body, .ctg-scratch').off();
    $(window).off();
  },
  mounted,
};
</script>

<style lang="scss" scoped>
.card-principal {
  margin-block: 3rem;
  margin-inline: auto !important;
  position: relative !important;
  width: 18rem !important;
  transition: all .5s;
}

.ticket-code-highlight{
  position: absolute;
  bottom: 2.7rem;
  right: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  width: 4rem;

  h2 {
    color: $color-blue-black;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 0;
  }
}
.card-triple-gordo {
  position: absolute;

  &.n-1 {
    top: 87.8px;
    left: 66.8px;
    width: 187px;
    height: 33px;
  }

  &.n-2 {
    top: 199px;
    right: 8px;
    width: 103.8px;
    height: 29.5px;
  }

  &.n-3 {
    bottom: 210px;
    width: 195.7px;
    height: 40px;
    left: 62.4px;
  }

  &.n-4 {
    bottom: 34.7px;
    right: 88.5px;
    width: 109.5px;
    height: 80px;
  }

  .custom-cursor {
    cursor : url('~@/assets/pathmonedatg.png') 7 7, pointer;
  }

  .ctg-scratch {
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;

    &.n-3 {
      border-radius: 13px;
    }

    &.n-4 {
      border-radius: 4px;
    }

    .grid-oriented {
        display: grid;
        grid-template-columns: repeat(3, 33.333%);
        height: 100%;
        align-items: center;
        cursor: auto;
        border-radius: 20px;

        &.n-1 {
          grid-template-columns: repeat(2, calc(50% - 13px));
          column-gap: 26px;
        }

        &.n-2 {
          // padding-left: 2px;
          padding-bottom: 0.3rem;
        }

        &.n-3 {
          border-radius: 13px;
          grid-template-columns: repeat(3, calc(33% - 14px));
          column-gap: 22px;
        }

        &.n-4 {
          height: auto;
          padding-inline: 1.3rem;
          padding-top: 0.4rem;
          padding-bottom: 0rem;
          grid-auto-rows: 1.43rem;
          align-items: unset;
          border-radius: 4px;
        }

        .digts-container {
          line-height: 0;

          span.first {
            font-size: 0.4rem;
            font-weight: 700;
          }
          span.second {
            font-size: 0.33rem;
            font-weight: 600;
            line-height: 0.3rem;
          }

          h2 {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            font-size: 1.25rem;
            font-weight: 800;
            letter-spacing: 0.25rem;
            line-height: 1.1rem;
            color: $color-blue-black;
          }

          &.n-2 {
            span.first {
              font-size: 0.55rem;
            }

            h2 {
              margin-top: 0.3rem;
              letter-spacing: 0rem;
              font-weight: 700;
            }
          }

          &.n-3 {
            h2 {
              font-size: 1.05rem;
              font-weight: 700;
              letter-spacing: 0rem;
              line-height: 0.9rem;
            }
          }

          &.n-4 {
            &:not(:nth-child(3n)) {
              border-right: 1px solid #000;
            }
            &:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
              border-bottom: 1px solid #000;
            }

            h2 {
              margin-top: 0.15rem;
              margin-bottom: 0;
              font-size: 1.2rem;
              font-weight: 700;
              letter-spacing: unset;
              line-height: 1rem;
            }
          }
        }
    }
  }
}

.img-triple-gordo {
  position: relative;
  width: 18rem;
}

$slide-container-width-sm: calc(12rem + 16vw);
$slide-container-width-md: calc(12rem + 12%);
.slidecontainer {
  width: $slide-container-width-sm;
  background: rgba(255, 255, 255, 0.72);
  padding-block: 0.5rem;
  margin-inline: auto;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  top: 11rem;
  left: calc(50% - (#{$slide-container-width-sm} / 2));
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 0.5rem;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: $slide-container-width-md;
    left: calc(50% - (#{$slide-container-width-md} / 2));
  }
  @media screen and (min-width: 1440px) {
    top: 10rem;
  }

  span {
    color: #7c7c7c;

    &.warning-span {
      grid-column: span 2;
      font-size: smaller;
      color: #588df3;
    }
  }

  input {
    display: inline-block;
  }
}

.slider {
  -webkit-appearance: none;
  width: 12rem;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color-secundario;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color-secundario;
  cursor: pointer;
}

.non-scratchable-el {
  position: absolute;
  z-index: 1;
}
</style>

<style lang="scss">
.winner-alert-title,
.winner-alert-html {
  text-shadow: 1px 1px 6px rgb(0, 0, 0);

  &.winner-alert-title {
    color: #fff !important;
    font-size: 13vw !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 8vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 6vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 4vw !important;
      
      @media only screen and (min-width: 2350px) {
        font-size: 3vw !important;
      }
    }
  }

  &.winner-alert-html p {
    color: $color-pollito !important;
    font-size: 9vw !important;

    @media only screen and (orientation: portrait) and (min-width: 601px) {
      font-size: 6vw !important;

      @media only screen and (min-width: 792px) {
        font-size: 5vw !important;
      }
    }
    @media only screen and (orientation: landscape) {
      font-size: 3vw !important;

      @media only screen and (min-width: 2350px) {
        font-size: 2vw !important;
      }
    }
  }
}

.winner-alert-btn {
  padding-inline: 3rem;
  background: $color-secundario !important;

  &:focus {
    box-shadow: none !important;
  }
}
</style>