<template>
  <div>
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="10">
          <CCard>
            <CCardHeader class="text-center botonesP text-white">
              <h3><b>RETIRAR SALDO</b></h3>
               <span
                >¡Acá podrás retirar de tu saldo disponible!</span
              >
            </CCardHeader>
            <CCol md="12 pt-4 pb-4 pr-4 pl-5">
              <CRow class="mt-2">
                <CCol
                  sm="3"
                  class="
                    d-flex
                    align-items-center
                    text-center
                    mt-2
                    justify-content-center
                  "
                >
                  <div class="text-left">
                    <h6>
                      Monto disponible para retiro: <b>$ {{ montoRetiro }}</b>
                    </h6>
                  </div>
                </CCol>
                <CCol sm="6">
                  <div class="form-color-blue">
                    <CInput
                      label="Monto"
                      addLabelClasses="required"
                      v-model="$v.montoRetiroInput.$model"
                      v-on:keyup="validar_monto"
                      :is-valid="hasError($v.montoRetiroInput)"
                      :invalid-feedback="
                        !$v.montoRetiroInput.required
                          ? 'Campo requerido'
                          : !$v.montoRetiroInput.onlyNumber
                          ? 'Solo puede introducir números'
                          : ''
                      "
                    />
                  </div>
                </CCol>
                <CCol
                  sm="3"
                  class="
                    d-flex
                    align-items-center
                    text-center
                    mt-2
                    justify-content-center
                  "
                >
                  <CButton
                    color="success"
                    :disabled="isDisabled"
                    @click="procesarSaldo"
                  >
                    <CIcon name="cil-check-circle" />&nbsp; ACEPTAR
                  </CButton>
                </CCol>
              </CRow>
            </CCol>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";
import retirarSaldo from "@/_validations/saldoRetiro/saldoRetiro";
// import mitt from 'mitt';
// const emitter = mitt();

function validar_monto() {
  let self = this;
  let saldoDisponible = self.montoRetiro;
  const saldoDisponible_ = Number(saldoDisponible);
  const monto_ = Number(self.montoRetiroInput);

  if (monto_ > saldoDisponible_) {
    self.monto_mayor();
    self.limpiar();
  }
}

function limpiar() {
  this.montoRetiroInput = "";
  this.$v.$reset();
}

async function consultarSaldo() {
  const resp_ = await this.globalConsultarSaldo(true, true);
  let self = this;
  if (typeof resp_ === "object" && resp_?.isSuccess) {
    self.saldo = resp_.saldo;
    self.montoRetiro = resp_.montoRetiro;
  }
}

function procesarSaldo() {
  let self = this;
  const url_retirar_saldo = self.$apiAdressCobranza + "RetirarSaldo";
  let tokenUsuario = sessionStorage.getItem("tokenUsuario");
  let tokenSesion = localStorage.getItem("tokenSistema");
  const codigoAplicacion = "MDE=";
  self.Loading = true;

  axios
    .post(
      url_retirar_saldo,
      {
        tokenUsuario: tokenUsuario,
        codigoAplicacion: codigoAplicacion,
        montoRetiro: Number(self.montoRetiroInput),
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      console.log("response", response);
      self.consultarSaldo();
      self.Loading = false;
      const msg = "¡OPERACIÓN PROCESADA CON EXITO!";
      self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "success",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      self.limpiar();
    })
    .catch(function (err) {
      self.Loading = false;
      self.limpiar();
      const msg = err?.response?.data?.message?.description ||
            err?.responseJSON?.message?.description ||
            err?.responseJSON?.mensaje?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

//COMPUTED
function isDisabled() {
  return this.$v.$invalid;
}

function monto_mayor() {
  const msg = "¡El monto registrado supera al monto de retiro disponible!";
  this.$swal.fire({
    position: "top-end",
    toast: true,
    icon: "error",
    title: msg,
    showConfirmButton: false,
    timer: this.getMsgSeconds(msg),
    timerProgressBar: true,
  });
}

function data() {
  return {
    montoRetiroInput: "",
    montoRetiro: "",
    Loading: false,
    saldoRetiro: "",
  };
}

export default {
  name: "index",
  mixins: [General],
  data,
  validations: retirarSaldo,
  computed: {
    isDisabled,
  },
  methods: {
    validar_monto,
    monto_mayor,
    procesarSaldo,
    limpiar,
    consultarSaldo,
  },
  mounted: function () {
    let self = this;
    self.montoRetiro = sessionStorage.getItem("montoRetiro");
  },
};
</script>
