<template>
    <div class="color-white">
        <h2 class="title-form mt-3 mb-4">{{ labels.formTitle(type) }}</h2>
        <p v-if="type==='codigo'" class="verification-code">{{ labels.verificationCodeMsg }}</p>
        <!-- user -->
        <CInput
            v-uppercase
            id="cui-login"
            v-if="type!=='codigo'" 
            v-model="$v.login.$model"
            prependHtml="<i class='cui-user'></i>"
            placeholder="Login:"
            :invalid-feedback="!$v.login.required 
                ? labels.required 
                : !$v.login.numeric 
                    ? labels.numeric
                    : !$v.login.minLength || !$v.login.maxLength 
                        ? labels.mustHave($v.login.$params.minLength.min, $v.login.$params.maxLength.max) : ''"
            :is-valid="hasError($v.login)"
            :maxlength="$v.login.$params.maxLength.max"
            :minlength="$v.login.$params.minLength.min"
        >
            <template #prepend-content><CIcon name="cil-user" /></template>
        </CInput>
        <!-- codigo de validacion -->
        <CInput
            v-uppercase
            id="cui-codigo"
            v-if="type==='codigo'" 
            v-model="$v.codigo.$model"
            prependHtml="<i class='cui-key'></i>"
            placeholder="Código de Validación:"
            :invalid-feedback="!$v.codigo.required 
                ? labels.required 
                : !$v.codigo.numeric 
                    ? labels.numeric 
                    : !$v.codigo.minLength || !$v.codigo.maxLength 
                        ? labels.mustHave($v.codigo.$params.minLength.min) : ''"
            :is-valid="hasError($v.codigo)"
            :maxlength="$v.codigo.$params.maxLength.max"
            :minlength="$v.codigo.$params.minLength.min"
        >
            <template #prepend-content><CIcon name="cil-key" /></template>
        </CInput>
        <!-- email -->
        <CInput
            v-if="type==='recovery'" 
            v-model="$v.email.$model"
            prependHtml="<i class='cui-envelope-closed'></i>"
            placeholder="Email:"
            :invalid-feedback="!$v.email.required 
                ? labels.required 
                : !$v.email.email 
                    ? labels.invalidEmail 
                    : !$v.email.maxLength 
                        ? labels.mustHave(0,$v.email.$params.maxLength.max) : ''"
            :is-valid="hasError($v.email)"
            :maxlength="$v.email.$params.maxLength.max"
        >
            <template #prepend-content><CIcon name="cil-envelope-closed" /></template>
        </CInput>
        <!-- password -->
        <CInput
            v-if="type==='login' || type==='changepassword'" 
            v-model="$v.password.$model"
            prependHtml="<i class='cui-lock-locked'></i>"
            :placeholder="'Clave'+(type==='changepassword'?' anterior':'')+':'"
            type="password"
            :invalid-feedback="!$v.password.required 
                ? labels.required 
                : !$v.password.passwordRgx 
                    ? labels.passwordFormat
                    : !$v.password.minLength || !$v.password.maxLength 
                        ? labels.mustHave($v.password.$params.minLength.min, $v.password.$params.maxLength.max) : ''"
            :is-valid="hasError($v.password)"
            :maxlength="$v.password.$params.maxLength.max"
            :minlength="$v.password.$params.minLength.min"
        >
            <template #prepend-content><CIcon name="cil-lock-locked"/></template>
        </CInput>
        <!-- new password -->
        <CInput
            v-if="type==='recovery' || type==='changepassword'" 
            v-model="$v.password_new.$model"
            prependHtml="<i class='cui-lock-locked'></i>"
            placeholder="Nueva clave:"
            type="password"
            :invalid-feedback="!$v.password_new.required 
                ? labels.required 
                : !$v.password_new.passwordRgx 
                    ? labels.passwordFormat
                    : !$v.password_new.minLength || !$v.password_new.maxLength 
                        ? labels.mustHave($v.password_new.$params.minLength.min, $v.password_new.$params.maxLength.max) : ''"
            :is-valid="hasError($v.password_new)"
            :maxlength="$v.password_new.$params.maxLength.max"
            :minlength="$v.password_new.$params.minLength.min"
        >
            <template #prepend-content><CIcon name="cil-lock-locked"/></template>
        </CInput>
        <!-- password confirmation -->
        <CInput
            v-if="type==='recovery' || type==='changepassword'" 
            v-model="$v.password_confirmation.$model"
            prependHtml="<i class='cui-lock-locked'></i>"
            placeholder="Confirmación de clave:"
            type="password"
            :invalid-feedback="!$v.password_confirmation.required 
                ? labels.required 
                : !$v.password_confirmation.minLength || !$v.password_confirmation.maxLength 
                    ? labels.mustHave($v.password_confirmation.$params.minLength.min, $v.password_confirmation.$params.maxLength.max)
                    : !$v.password_confirmation.sameAsPassword 
                        ? labels.unmatched : ''"
            :is-valid="hasError($v.password_confirmation)"
            :maxlength="$v.password_confirmation.$params.maxLength.max"
            :minlength="$v.password_confirmation.$params.minLength.min"
        >
            <template #prepend-content><CIcon name="cil-lock-locked"/></template>
        </CInput>
        <!-- caducidad -->
        <CSelect
            v-if="type==='recovery' || type==='changepassword'" 
            prependHtml="<i class='cui-av-timer'></i>"
            :options="caducidad_options"
            :value.sync="$v.caducidad.$model"
            :invalid-feedback="labels.required"
            :is-valid="hasError($v.caducidad)"
        >
            <template #prepend-content><CIcon name="cil-av-timer"/></template>
        </CSelect>
        <!-- ACTION BUTTONS -->
        <CRow>
            <CCol class="col-12 d-flex justify-content-center justify-content-lg-end my-2">
                <CButton
                    type="submit"
                    color="default"
                    class="px-4 btn-acceder"
                    :disabled="isDisabled || loading"
                    @click="goToMeth()"
                >
                    <span v-if="loading" class="spinner-grow spinner-grow-sm"></span>
                    {{ 
                        loading 
                        ? labels.btnIng(type)
                        : labels.btnQuite(type)
                    }}
                </CButton>
            </CCol>
            <CCol class="col-12 d-flex justify-content-center justify-content-lg-end mb-4">
                <CLink 
                    href="#" 
                    class="redirect-elsewhere"
                    :disabled="loading"
                    @click="setType(type==='login' ? 'recovery' : 'login', type)"
                >
                    {{ labels.gobackLink(type) }}
                </CLink>
            </CCol>
        </CRow>
    </div>
</template>

<script>
import { freeSet } from "@coreui/icons";
import General from "@/_mixins/general";
import axios from "axios";
import loginVals from "@/_validations/login/validarlogin";
import recoveryVals from "@/_validations/login/validarrecuperar";
import codigoVals from "@/_validations/login/validarcodigo";
import changePasswordVals from "@/_validations/login/validarcambiarclave";
import UpperCase from "@/_validations/uppercase-directive";

const LABELS_ = {
    btnQuite: (type) => type==='recovery' || type==='changepassword' ? 'ACEPTAR' : type==='codigo' ? 'CONTINUAR' : 'ACCEDER',
    btnIng: (type) => type==='recovery' || type==='changepassword' ? 'ACEPTANDO..' : type==='codigo' ? 'PROCESANDO..' : 'ACCEDIENDO..',
    formTitle: (type) => type==='recovery' ? 'Recuperar Clave' : type==='codigo' ? 'Validación Código de Usuario' : type==='changepassword' ? 'Cambiar Clave' : 'Iniciar Sesión',
    gobackLink: (type) => type==='recovery' || type==='changepassword' ? 'Ir a Inicio de sesión' : type==='codigo' ? 'Cancelar' : '¿Olvidó su clave?',
    invalidEmail: 'Debe tener un formato de correo correcto',
    mustHave: (min, max = 0) => `Debe tener ${!max ? `una longitud de ${min}` : (!min ? `máximo ${max}` : `entre ${min} a ${max}`)} caracteres`,
    numeric: 'Debe ser solo números',
    passwordFormat: 'Debe tipear letras y/o números sin espacios en blanco',
    required: 'Campo requerido',
    unmatched: 'Las claves no coinciden',
    verificationCodeMsg: 'Por favor ingrese el Código de Validación enviado a su teléfono y correo electrónico.',
};


function data() {
  return {
      login: "",
      password: "",
      email: "",
      password_new: "",
      password_confirmation: "",
      caducidad: "seleccione",
      caducidad_options: [{ label: 'Seleccione caducidad', value: 'seleccione' }],
      codigo: "",
      labels: LABELS_,
    };
}

//COMPUTED
function isDisabled() {
  return this.$v.$invalid;
}

// METHODS
function resetForm() {
  this.$v.$reset();
}

function goToMeth() {
    switch (this.type) {
        case 'login':
            this.accessLoginMeth({
                login: this.login,
                password: this.password
            });       
            break;
        case 'recovery':
            this.accessRecoveryMeth({
                login: this.login,
                email: this.email,
                password: this.password_new,
                caducidad: this.caducidad
            });
            break;
        case 'codigo':
            this.accessCodigoMeth({
                login: this.login,
                codigo: this.codigo
            });       
            break;
        case 'changepassword':
            this.accessChangePasswordMeth({
                login: this.login,
                passwordPrev: this.password,
                password: this.password_new,
                caducidad: this.caducidad
            });
            break;
    }
}

function setType(type, prevType = null) {
    this.changeType(type, prevType);
}

function fillOptions() {
    let self = this;

    if (self.caducidad_options.length === 1 && self.caducidad_options[0].value === 'seleccione') 
    axios
    .get(this.$apiGeneral + "ListarCaducidad")
    .then(function(response) { 
      console.log("response",response);
      if (response?.data?.message?.code === "000" || response?.data?.mensaje?.code === "000") {
          console.log("datos",response.data.datos);
          if (response.data.datos?.length) {
              const caducidad_options_ = response.data.datos.map(dto => {
                  return { label: `${dto.value}`, value: dto.code };
              });
              self.caducidad_options = [{ label: 'Selecciona caducidad', value: 'seleccione' }, ...caducidad_options_];
          }
      }
    })
    .catch(function(error) { console.log("error",error);});
}

function clearInputs (val, setType = true, maintainLogin = false) {
    if (val) {
        if (!maintainLogin) this.login = "";
        this.password = "";
        this.email = "";
        this.password_new = "";
        this.password_confirmation = "";
        this.caducidad = "seleccione";
        this.codigo = "";
        this.resetForm();
        if (setType && this.type!=='login') this.setType('login');
        let self = this;
        setTimeout(() => {
           self.setFocusInput(maintainLogin ? 'codigo' : 'login'); 
        });
    }
}

function setFocusInput(input) {
    const $theInput = $(`#cui-${input}`);
    if ($theInput.length) $theInput.focus();
}

function captureKeyUp (e) {
  if (
      (e.keyCode === 13 || e.which === 13 || e.key === 'Enter') && 
      !this.isDisabled && !this.loading
    )
    this.goToMeth();
}

// WATCHERS
function cleanInputsFunc (val) {
    this.clearInputs(val);
}

function typeFunc (val) {
    console.log('Hey', val);
    this.clearInputs(true, false, val && val === 'codigo');
    if (val && (val === 'recovery' || val === 'changepassword')) this.fillOptions();
}

// MOUNTED
function mounted () {
    document.addEventListener('keyup',
        this.captureKeyUp,
        false
    );

    let self = this;
    $(document).ready(function(){
        self.setFocusInput('login');
    })
}

export default {
  name: "auth-view",
  mixins: [General],
  freeSet,
  data,
  directives: UpperCase,
  props: {
    loading: Boolean,
    cleanInputs: Boolean,
    accessLoginMeth: Function,
    accessRecoveryMeth: Function,
    accessCodigoMeth: Function,
    accessChangePasswordMeth: Function,
    changeType: Function,
    type: {
      type: String,
      default: 'login'
    }
  },
  computed: {
    isDisabled,
  },
  watch: { 
    cleanInputs: cleanInputsFunc,
    type: typeFunc,
  },
  validations() {
    if (this.type === 'recovery') return recoveryVals;
    else if (this.type === 'codigo') return codigoVals;
    else if (this.type === 'changepassword') return changePasswordVals;
    else return loginVals;
  },
  methods: {
    resetForm,
    goToMeth,
    setType,
    fillOptions,
    clearInputs, 
    setFocusInput, 
    captureKeyUp,
  },
  destroyed() {
    this.clearInputs(true, false);
    document.removeEventListener('keyup',
        this.captureKeyUp,
        false
    );
  },
  mounted,
};
</script>

<style lang="scss" scoped>
h2,
input,
text {
  color: #fff !important;
}

.verification-code {
    text-align: center;
    color: $color-pollito;
    font-style: italic;

    @media screen and (min-width: 1024px) {
        text-align: justify;
    }
}

.btn-acceder {
  border: 2px solid rgb(247, 239, 239);
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.3rem 2.5rem !important;
  font-size: 1.15rem;

  @media screen and (min-width: 1440px) {
    padding: 0.3vw 3vw !important;
    font-size: 1.2vw;
  }

  &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 0, 0.35);
  }
}

h2.title-form {
  font-size: 1.75rem;
  font-style: italic;

  @media screen and (min-width: 768px) {
    font-size: 2rem;

    @media screen and (min-width: 1440px) {
      font-size: 2.2vw;
    }
  }
}

.color-white {
    @media screen and (min-width: 768px) {
        padding-inline: 10rem;

        @media screen and (min-width: 1024px) {
            padding-inline: 0;

            @media screen and (min-width: 1440px) {
                padding-inline: 3.3vw;
            }
        }
    }
}
</style>
