<template>
  <div class="align-items-center min-vh-50 custom-swal">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CContainer fluid>
      <transition name="slide">
        <CRow class="justify-content-center">
          <CCol md="8">
            <CCard class="mx-4 mb-0">
              <CCardHeader class="text-center botonesP text-white">
                <h3><b>CAMBIAR CLAVE</b></h3>
              </CCardHeader>
              <CCardBody class="p-4">
                <!-- color-blue -->
                <div class="form-color-blue">
                  <CForm>
                    <CInput
                      addLabelClasses="required"
                      label="Clave anterior"
                      placeholder="Clave anterior"
                      type="password"
                      autocomplete="old-password"
                      v-model="$v.old_password.$model"
                      :is-valid="hasError($v.old_password)"
                      :maxlength="$v.old_password.$params.maxLength.max"
                      :minlength="$v.old_password.$params.minLength.min"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="$v.old_password.$dirty && !$v.old_password.passwordRgx"
                    >Debe tipear letras y/o números sin espacios en blanco.</div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.old_password.minLength"
                    >
                      La clave debe tener mínimo
                      {{ $v.old_password.$params.minLength.min }} caracteres.
                    </div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.old_password.maxLength"
                    >
                      La clave debe tener máximo
                      {{ $v.old_password.$params.maxLength.max }} caracteres.
                    </div>
                    <CInput
                      addLabelClasses="required"
                      label="Nueva clave"
                      placeholder="Nueva clave"
                      type="password"
                      autocomplete="new-password"
                      v-model="$v.password.$model"
                      :is-valid="hasError($v.password)"
                      :maxlength="$v.password.$params.maxLength.max"
                      :minlength="$v.password.$params.minLength.min"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="$v.password.$dirty && !$v.password.passwordRgx"
                    >Debe tipear letras y/o números sin espacios en blanco.</div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.password.minLength"
                    >
                      La clave debe tener mínimo
                      {{ $v.password.$params.minLength.min }} caracteres.
                    </div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.password.maxLength"
                    >
                      La clave debe tener máximo
                      {{ $v.password.$params.maxLength.max }} caracteres.
                    </div>
                    <CInput
                      addLabelClasses="required"
                      label="Repita la clave"
                      placeholder="Repita la clave"
                      type="password"
                      autocomplete="confirm-password"
                      class="mb-4"
                      v-model="$v.password_confirmation.$model"
                      :is-valid="hasError($v.password_confirmation)"
                      :maxlength="$v.password_confirmation.$params.maxLength.max"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.password_confirmation.sameAsPassword"
                    >
                      Las claves no coinciden.
                    </div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.password_confirmation.maxLength"
                    >
                      La clave debe tener máximo
                      {{ $v.password.$params.maxLength.max }} caracteres.
                    </div>
                    <span id="message"></span>
                    <CSelect
                      addLabelClasses="required"
                      label="Seleccione caducidad"
                      :options="caducidad_options"
                      :invalid-feedback="
                        !$v.select.required ? 'Campo requerido' : ''
                      "
                      :is-valid="hasError($v.select)"
                      :value.sync="$v.select.$model"
                      @change="change_r($event)"
                    >
                    </CSelect>
                    <CButton
                      class="btn-form"
                      :disabled="isDisabled"
                      block
                      @click="changePassword"
                    >
                      <b>ACEPTAR</b>
                    </CButton>
                  </CForm>
                </div>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </transition>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";
import CambiarContrasenna from "@/_validations/cambiarContraseña/cambiarContrasenna";

function isDisabled() {
  return this.$v.$invalid;
}
function Sweet() {
  const msg = "Cambio de clave exitoso";
  this.$swal.fire({
    position: "top-end",
    toast: true,
    icon: "success",
    title: msg,
    showConfirmButton: false,
    timer: this.getMsgSeconds(msg),
    timerProgressBar: true,
  });
}

function change_r(event) {
  this.select = event.target.value;
}

function limpiardatos() {
  (this.old_password = ""),
    (this.password = ""),
    (this.password_confirmation = ""),
    (this.select = "");
}

function changePassword() {
  let self = this;
  const tokenSesion = localStorage.getItem("tokenSistema");
  const claveAnterior = window.btoa(self.old_password);
  const claveNueva = window.btoa(self.password);
  self.Loading = true;
  const tokenUser = sessionStorage.getItem("tokenUsuario");
  console.log("no encriptado", self.old_password);
  console.log("claveAnterior", self.password);
  console.log("no encriptado", self.claveNueva);
  console.log("claveNueva", claveNueva);
  // let listado = [];
  let url_post = this.$apiAdressUsuario + "CambiarClave";

  axios
    .put(
      url_post,
      {
        tokenUsuario: tokenUser,
        claveAnterior,
        claveNueva,
        caducidadClave: self.select,
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      self.Loading = false;
      // listado = response.data.message.description
      console.log("el resposne", response);
      self.limpiardatos();
      self.$v.$reset();
      const msg = "Clave actualizada con éxito!";
      self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "success",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
    })
    .catch(function (err) {
      self.Loading = false;
      const msg = err?.response?.data?.message?.description ||
        err?.responseJSON?.message?.description ||
        err?.responseJSON?.mensaje?.description ||
        err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError();
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

function ListarCaducidad() {
  let url_get = this.$apiGeneral + "ListarCaducidad";
  let self = this;
  self.Loading = true;
  if (self.caducidad_options.length === 1 && !self.caducidad_options[0].value)
    axios
      .get(url_get)
      .then(function (response) {
        if (
          response?.data?.message?.code === "000" ||
          response?.data?.mensaje?.code === "000"
        ) {
          if (response.data.datos?.length) {
            const caducidad_options_ = response.data.datos.map((dto) => {
              return { label: `${dto.value}`, value: dto.code };
            });
            self.caducidad_options = [
              { label: "Seleccione caducidad", value: null },
              ...caducidad_options_,
            ];
          }
          self.Loading = false;
        }
      })
      .catch(function (err) {
        self.Loading = false;
        const msg = err?.response?.data?.message?.description ||
              err?.responseJSON?.message?.description ||
              err?.responseJSON?.mensaje?.description ||
              err?.response?.statusText || '';
        if (msg)
          self.$swal.fire({
            position: "top-end",
            toast: true,
            icon: "warning",
            title: msg,
            showConfirmButton: false,
            timer: self.getMsgSeconds(msg),
            timerProgressBar: true,
          });
        else self.globalError();
        if (err.response?.data?.message?.code === "008") self.clearSession();
      });
}

// 123abc
function data() {
  return {
    old_password: "",
    password: "",
    password_confirmation: "",
    caducidad: "",
    Loading: false,
    caducidad_options: [{ label: "Seleccione caducidad", value: null }],
    select: "",
  };
}
export default {
  name: "UserAjustes",
  mixins: [General],
  data,
  validations: CambiarContrasenna,
  components: {
    General,
  },
  computed: {
    isDisabled,
  },
  methods: {
    changePassword,
    Sweet,
    ListarCaducidad,
    change_r,
    limpiardatos,
  },
  mounted: function () {
    this.ListarCaducidad();
  },
};
</script>
<style lang="scss" scoped>
.form-color-blue {
  color: #0a0d60 !important;
  font-weight: 600 !important;
}
</style>
