<template>
  <div class="align-items-center min-vh-50 custom-swal">
    <loading-overlay :active="Loading" :is-full-page="true" loader="bars" />
    <CContainer fluid>
      <transition name="slide">
        <CRow class="justify-content-center">
          <CCol md="8">
            <CCard class="mx-4 mb-0">
              <CCardHeader class="text-center botonesP text-white">
                <h3><b>ACTUALIZAR PERFIL</b></h3>
              </CCardHeader>
              <CCardBody class="p-4">
                <!-- color-blue -->
                <div class="form-color-blue">
                  <CForm>
                    <!-- USER ID -->
                    <CInput
                      label="Cédula del usuario"
                      placeholder="Cédula del usuario"
                      type="text"                    
                      v-model="idUser"
                      readonly
                    >
                    </CInput>
                    <!-- USER NAMES -->
                    <CInput
                      v-uppercase
                      addLabelClasses="required"
                      label="Nombres del usuario"
                      placeholder="Nombre"
                      type="text"                    
                      v-model="$v.nameUser.$model"
                      :is-valid="hasError($v.nameUser)"
                      class="d-inline-block two-inputs-wrapper"
                      addInputClasses="two-inputs-left"
                      :maxlength="$v.nameUser.$params.maxLength.max"
                    >
                    </CInput>
                    <CInput
                      v-uppercase
                      placeholder="Apellido"
                      type="text"                    
                      v-model="$v.lastNameUser.$model"
                      :is-valid="hasError($v.lastNameUser)"
                      class="d-inline-block two-inputs-wrapper"
                      addInputClasses="two-inputs-right"
                      :maxlength="$v.lastNameUser.$params.maxLength.max"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.nameUser.onlyLettersSpecial || !$v.lastNameUser.onlyLettersSpecial"
                    >Debe ser solo letras.</div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.nameUser.maxLength || !$v.lastNameUser.maxLength"
                    >
                      Debe tener un máximo de {{ $v.nameUser.$params.maxLength.max }} caracteres.
                    </div>
                    <!-- USER ADDRESS -->
                    <CInput
                      v-uppercase
                      addLabelClasses="required"
                      label="Dirección"
                      placeholder="Dirección"
                      type="text"                    
                      v-model="$v.addressUser.$model"
                      :is-valid="hasError($v.addressUser)"
                      :maxlength="$v.addressUser.$params.maxLength.max"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.addressUser.maxLength"
                    >
                      Debe tener un máximo de {{ $v.addressUser.$params.maxLength.max }} caracteres.
                    </div>
                    <!-- USER STATE -->
                    <CSelect
                      addLabelClasses="required"
                      label="Seleccione estado"
                      :options="state_options"
                      :invalid-feedback="
                        !$v.stateUser.required ? 'Campo requerido' : ''
                      "
                      :is-valid="hasError($v.stateUser)"
                      :value.sync="$v.stateUser.$model"
                    >
                    </CSelect>
                    <!-- USER CITY -->
                    <CSelect
                      addLabelClasses="required"
                      label="Seleccione ciudad"
                      :options="city_options"
                      :invalid-feedback="
                        !$v.cityUser.required ? 'Campo requerido' : ''
                      "
                      :is-valid="hasError($v.cityUser)"
                      :value.sync="$v.cityUser.$model"
                    >
                    </CSelect>
                    <!-- USER EMAIL -->
                    <CInput
                      addLabelClasses="required"
                      label="Correo"
                      placeholder="Correo"
                      type="email"                    
                      v-model="$v.emailUser.$model"
                      :is-valid="hasError($v.emailUser)"
                      :maxlength="$v.emailUser.$params.maxLength.max"
                    >
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.emailUser.email"
                    >Ingrese un formato de correo válido.</div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.emailUser.maxLength"
                    >
                      Debe tener un máximo de {{ $v.emailUser.$params.maxLength.max }} caracteres.
                    </div>
                    <!-- USER PHONE -->
                    <CInput
                      addLabelClasses="required"
                      label="Teléfono"
                      placeholder="Teléfono"
                      type="tel"                    
                      v-model="$v.phoneUser.$model"
                      :is-valid="hasError($v.phoneUser)"
                      class="remove-prepend-style"
                      :maxlength="$v.phoneUser.$params.maxLength.max"
                      :minlength="$v.phoneUser.$params.minLength.min"
                    >
                      <template #prepend-content>
                        <CSelect
                          :options="phone_options"
                          :value.sync="phoneCode"
                        >
                        </CSelect>
                      </template>
                    </CInput>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-if="!$v.phoneUser.numeric"
                    >Debe ser solo números.</div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.phoneUser.minLength"
                    >
                      Debe tener un mínimo de {{ $v.phoneUser.$params.minLength.min }} caracteres.
                    </div>
                    <div
                      class="error-mensaje text-mensaje-error"
                      v-else-if="!$v.phoneUser.maxLength"
                    >
                      Debe tener un máximo de {{ $v.phoneUser.$params.maxLength.max }} caracteres.
                    </div>
                    <CButton
                      class="btn-form"
                      :disabled="isDisabled"
                      block
                      @click="updateProfile"
                    >
                      <b>ACTUALIZAR</b>
                    </CButton>
                  </CForm>
                </div>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </transition>
    </CContainer>
  </div>
</template>

<script>
import axios from "axios";
import General from "@/_mixins/general";
import ActualizarPerfil from "@/_validations/actualizarPerfil/actualizarPerfil";
import UpperCase from "@/_validations/uppercase-directive";

function isDisabled() {
  return this.$v.$invalid;
}

function getPerfil() {
  let self = this;
  const tokenSesion = localStorage.getItem("tokenSistema");
  self.Loading = true;
  const tokenUser = sessionStorage.getItem('tokenUsuario');
  const url_get = this.$apiAdressUsuario + "ListarPerfil/" + tokenUser + "/MDE=";

  axios
    .get(
      url_get,
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      self.Loading = false;
      console.log('el response',response);

      if (response?.data?.message?.code === "000" && response?.data?.data) {
        const data_ = response.data.data;
        self.phoneCode = data_.TelUsuario.slice(0,4);
        self.phoneUser = data_.TelUsuario.slice(4).replace('-','');
        self.lastNameUser = data_.apeUsuario;
        self.idUser = data_.cedUsuario;
        self.cityUser = data_.codCiudad;
        self.stateUser = data_.codEstado;
        self.addressUser = data_.dirHabitacion;
        self.emailUser = data_.emaUsuario.toLowerCase();
        self.nameUser = data_.nomUsuario;
        self.ListarEstados(data_.codEstado, true);
      }
    })
    .catch(function (err) {
      self.Loading = false;
      const msg = err?.response?.data?.message?.description ||
        err?.responseJSON?.message?.description ||
        err?.responseJSON?.mensaje?.description ||
        err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

function updateProfile() {
  let self = this;
  const tokenSesion = localStorage.getItem("tokenSistema");
  self.Loading = true;
  const tokenUser = sessionStorage.getItem('tokenUsuario');
  const url_put = this.$apiAdressUsuario + "CambiarPerfil";

  const splitSpaces=(str)=>str.trim().split(' ').reduce((wholeStr,part)=>wholeStr+=part.length&&` ${part}`||part);

  axios
    .put(
      url_put,
      {
        tokenUsuario: tokenUser,
        codigoAplicacion: "MDE=",
        cedulaUsuario: window.btoa(self.idUser),
        nombreUsuario: splitSpaces(self.nameUser),
        apellidoUsuario: splitSpaces(self.lastNameUser),
        direccionUsuario: splitSpaces(self.addressUser),
        codigoEstado: window.btoa(self.stateUser),
        codigoCiudad: window.btoa(self.cityUser),
        email: self.emailUser.toUpperCase(),
        telefono: `${self.phoneCode}-${self.phoneUser}`
      },
      {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + tokenSesion,
        },
      }
    )
    .then(function (response) {
      self.Loading = false;
      console.log('el response',response);
      const msg = "¡Perfil actualizado con éxito!";
      self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "success",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
      });
      const nameUser = self.nameUser + ' ' + self.lastNameUser;
      sessionStorage.setItem("nombreUsuario", nameUser);
      self.emitter.emit('RefrescarNombres', nameUser);
    })
    .catch(function (err) {
      self.Loading = false;
      const msg = err?.response?.data?.message?.description ||
            err?.response?.statusText || '';
      if (msg)
        self.$swal.fire({
          position: "top-end",
          toast: true,
          icon: "warning",
          title: msg,
          showConfirmButton: false,
          timer: self.getMsgSeconds(msg),
          timerProgressBar: true,
        });
      else self.globalError(true);
      if (err.response?.data?.message?.code === "008") self.clearSession();
    });
}

const getAxios = async (url_get) => {
  try {
    const resp = await axios.get(url_get);
    return resp;
  } catch (err) {
    console.log(err);
    return false;
  }
};

async function listarCiudades(codState, forUser = false) {
  const url_cities = `${this.$apiGeneral}ListarCiudad/${codState}/0000`;
  let self = this;

  const respCities = await getAxios(url_cities);
  if (respCities) {
    console.log('Ciudades', respCities);
    if (respCities?.data?.mensaje?.code === "000") {
      if (respCities.data.datos?.length) {
        const city_options_ = respCities.data.datos.map(dto => {
            return { label: `${dto.name}`, value: dto.code };
        });
        if (!forUser) self.cityUser = 'seleccione';
        self.city_options = [{ label: 'Seleccione ciudad', value: 'seleccione' }, ...city_options_];
      }
    }
  }
}

async function ListarEstados(codSelected, forUser = false) {
  const url_states = this.$apiGeneral + "ListarEstado/00";
  let self = this;

  if (self.state_options.length === 1 && self.state_options[0].value == 'seleccione') {
    const respStates = await getAxios(url_states);
    if (respStates) {
      console.log('Estados', respStates);
      if (respStates?.data?.mensaje?.code === "000") {
        if (respStates.data.datos?.length) {
          const state_options_ = respStates.data.datos.map(dto => {
              return { label: `${dto.name}`, value: dto.code };
          });
          self.state_options = [{ label: 'Seleccione estado', value: 'seleccione' }, ...state_options_];

          // GETTING CITIES
          self.listarCiudades(codSelected, forUser);
        }
      }
    }

  }

}

// 123abc
function data() {
  return {
    nameUser: "",
    lastNameUser: "",
    idUser: "",
    addressUser: "",
    addressUser: "",
    emailUser: "",
    phoneCode: "0414",
    phone_options: [ "0412", "0414", "0416", "0424", "0426" ],
    phoneUser: "",
    Loading: false,    
    stateUser: "seleccione",
    cityUser: "seleccione",
    state_options: [{ label: "Seleccione estado", value: "seleccione" }],
    city_options: [{ label: "Seleccione ciudad", value: "seleccione" }],
  };
}
export default {
  name: "UserPerfil",
  mixins: [General],
  data,
  directives: UpperCase,
  validations: ActualizarPerfil,
  computed: {
    isDisabled,
  },
  methods: {
    updateProfile,
    listarCiudades,
    ListarEstados,
    getPerfil,
  },
  watch: {
    stateUser: function(cod) {
      if (cod && cod === 'seleccione') {
        this.cityUser = 'seleccione';
        this.city_options = [{ label: "Seleccione ciudad", value: "seleccione" }];
      } else if (cod && this.state_options.length > 1) this.listarCiudades(cod);
    },
  },
  mounted: function () {
    this.getPerfil();
  },
};
</script>
<style lang="scss" scoped>
  .form-color-blue{
    color: $color-primario !important;
    font-weight: 600 !important;
  }
</style>
